<div class="wrap-title mb20 clearfix">
    <span class="ico"></span>个人基础信息
    <a class="btn btn-gr btn-sm pull-right" ui-sref="states.personInfo.personInfoModify" type="button">修 改</a>
</div>
<div class="">
    <ul class="ul-form w-3">
        <li><span class="left-txt">姓名：</span>b{{model.personInfo.name}}</li>
        <li><span class="left-txt">身份证号：</span>b{{model.personInfo.uniqueData}}</li>
        <li><span class="left-txt">手机号：</span>b{{model.personInfo.phoneNumber}}</li>
        <li><span class="left-txt">邮箱：</span>b{{model.personInfo.email}}</li>
        <li><span class="left-txt">所在单位：</span>b{{model.personInfo.unit}}</li>
        <li><span class="left-txt">所在部门：</span>b{{model.personInfo.organization}}</li>
        <li><span class="left-txt">岗位：</span>b{{model.personInfo.job}}</li>
        <li><span class="left-txt">入职时间：</span>b{{model.personInfo.workDate}}</li>
        <li><span class="left-txt">学历：</span>b{{model.personInfo.educationstr}}</li>
        <li><span class="left-txt">性别：</span>b{{model.personInfo.sexstr}}</li>
    </ul>
</div>

