<form novalidate="novalidate" name="personInfoFrom">
    <div class="wrap-title mb20 clearfix">
        <span class="ico"></span>个人基础信息
        <input class="btn btn-gr btn-sm pull-right" type="button"
               ng-disabled="personInfoFrom.$invalid && isFormAllow && emailAllow && mobileAllow"
               ng-click="modify.updatePersonInfo()" value="保 存"/>
    </div>
    <ul class="ul-form form-inline w-4">
        <li><span class="left-txt"><i>*</i>姓名：</span>

            <div class="form-group">
                <input type="text" class="form-control ipt-large" name="names" ng-model="model.personEditInfo.names"
                       value="" required ng-required="true" placeholder="请输入姓名">
                <span ng-show="personInfoFrom.names.$dirty && personInfoFrom.names.$error.required"
                      class="li-prompt" style="color:#f66985;"><span class="ico ico-prompt"></span>请输入姓名</span>
            </div>
        </li>
        <li><span class="left-txt"><i>*</i>身份证号：</span>

            <div class="form-group">
                <input type="text" class="form-control ipt-large" placeholder="请输入身份证号" name="uniqueDatas"
                       ng-model="model.personEditInfo.uniqueDatas" value="" required ng-required="true"
                       ng-pattern="/^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$/">
                <span ng-show="personInfoFrom.uniqueDatas.$dirty && personInfoFrom.uniqueDatas.$error.required"
                      class="li-prompt" style="color:#f66985;"><span class="ico ico-prompt"></span>请输入身份证号</span>
                <span
                        ng-show="personInfoFrom.uniqueDatas.$dirty && !personInfoFrom.uniqueDatas.$error.required && personInfoFrom.uniqueDatas.$error.pattern"
                        class="li-prompt" style="color:#f66985;"><span class="ico ico-prompt"></span>身份证号格式不正确</span>
            </div>
        </li>
        <li><span class="left-txt"><i>*</i>手机号：</span>

            <div class="form-group">
                <input type="text" class="form-control ipt-large"
                       ng-model="model.personEditInfo.phoneNumbers"
                       name="phoneNumbers"
                       required ng-required="true"
                       ng-pattern="/^1[3578][0-9]{9}$/"
                       compare="model.personInfos.phoneNumber"
                        >
                <!--<span ng-show="personInfoFrom.phoneNumbers.$dirty && (!personInfoFrom.phoneNumbers.$error.required) && (!personInfoFrom.phoneNumbers.$error.pattern) && personInfoFrom.phoneNumbers.$error.ajaxValidate" class="li-prompt"><span class="ico ico-prompt"></span>该手机号已被注册</span>-->
            </div>
            <button class="btn btn-gr" type="button" ng-disabled="model.isDisabled"
                    ng-click="events.saveIdentifyingCode('mobile')">b{{valueInfo}}<span class="badge"
                                                                                        ng-show="showCountDown1">b{{model.countdown}}</span>
            </button>
            <span ng-show="personInfoFrom.phoneNumbers.$dirty && personInfoFrom.phoneNumbers.$error.required"
                  class="li-prompt" style="color:#f66985;"><span class="ico ico-prompt"></span>请输入手机号</span>
            <span
                ng-show="personInfoFrom.phoneNumbers.$dirty && (!personInfoFrom.phoneNumbers.$error.required) && personInfoFrom.phoneNumbers.$error.pattern"
                style="color:#f66985;" class="li-prompt"><span class="ico ico-prompt"></span>手机号格式不正确</span>
        </li>
        <li ng-if="mobileCode"><span class="left-txt"></span>

            <div class="form-group hide">
                <input type="text" required ng-required="true" class="form-control ipt-large" placeholder="请输入验证码"/>
            </div>
            <!---------验证成功-------->
            <div class="form-group has-feedback">
                <input type="text" class="form-control ipt-large" placeholder="请输入验证码"
                       ng-model="dataInfo.code"
                       ng-blur="modify.mobileCode($event)"
                    >
                <span ng-if="pleaseMobileCode" class="li-prompt" style="color:#f66985;"><span
                    class="ico ico-prompt"></span>请输入验证码</span>
                <span ng-if="errorMobileCode1" ng-click="events.clear()"
                      class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
                <span ng-if="errorMobileCode2" class="glyphicon form-control-feedback glyphicon-ok"
                      aria-hidden="true"></span>
                <!--
                <div class="form-group has-feedback"
                 ng-class="{'has-error': personInfoFrom.mobileCodes.$error.ajaxValidate, 'has-success': !personInfoFrom.mobileCodes.$error.ajaxValidate}">
                <input type="text" class="form-control ipt-large" placeholder="请输入验证码"
                       name="mobileCodes"
                       ng-model="dataInfo.code"
                       required ng-required="true"
                       ajax-data="dataInfo"
                       ajax-validate ajax-url="/web/front/personInfo/findRandomNumber"
                        >
                <span ng-if="personInfoFrom.mobileCodes.$error.ajaxValidate" ng-click="events.clear()"
                      ng-class="{'glyphicon-remove': personInfoFrom.mobileCodes.$dirty && !personInfoFrom.mobileCodes.$error.required}"
                      class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <span ng-if="!(personInfoFrom.mobileCodes.$error.ajaxValidate)"
                      ng-class="{'glyphicon-ok': !personInfoFrom.mobileCodes.$error.required && !personInfoFrom.mobileCodes.$error.ajaxValidate}"
                      class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
            </div>

        </li>
        <li><span class="left-txt"><i>*</i>邮箱：</span>

            <div class="form-group">
                <input type="text" class="form-control ipt-large" ng-model="model.personEditInfo.emails"
                       required ng-required="true"
                       ng-pattern="/^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/"
                       name="emails" compare="model.personInfos.email">
            </div>
            <button class="btn btn-gr" type="button" ng-disabled="model.isEmailDisabled"
                    ng-click="events.saveEmailIdentifyingCode('email')">b{{valueInfoEmail}}<span class="badge"
                                                                                                 ng-show="showCountDown2">b{{model.countdownEmail}}</span>
            </button>
            <span ng-show="personInfoFrom.emails.$dirty && personInfoFrom.emails.$error.required"
                  class="li-prompt lip-2" style="color:#f66985;"><span class="ico ico-prompt"></span>请输入邮箱</span>
            <span
                ng-show="personInfoFrom.emails.$dirty && !personInfoFrom.emails.$error.required && personInfoFrom.emails.$error.pattern"
                class="li-prompt lip-2" style="color:#f66985;"><span class="ico ico-prompt"></span>邮箱格式不正确</span>
            <!--<span
                ng-show="personInfoFrom.emails.$dirty && !personInfoFrom.emails.$error.required && !personInfoFrom.emails.$error.pattern && personInfoFrom.emails.$error.ajaxValidate"
                class="li-prompt lip-2"><span class="ico ico-prompt"></span>该邮箱已被注册</span>-->
        </li>
        <li ng-if="emailCode"><span class="left-txt"></span>

            <div class="form-group hide">
                <input type="text" required ng-required="true" name="isEmailCode" class="form-control ipt-large"
                       placeholder="请输入验证码"/>
                <span ng-show="personInfoFrom.isEmailCode.$dirty && personInfoFrom.isEmailCode.$error.required"
                      class="li-prompt" style="color:#f66985;"><span class="ico ico-prompt"></span>请输入验证码</span>
            </div>
            <!---------验证失败-------->
            <div class="form-group has-feedback">
                <input type="text" class="form-control ipt-large" placeholder="请输入验证码"
                       ng-model="emailInfo.code"
                       ng-blur="modify.emailCode($event)"
                    >
                <span ng-if="pleaseEmailCode" class="li-prompt" style="color:#f66985;"><span
                    class="ico ico-prompt"></span>请输入验证码</span>
                <span ng-if="errorEmailCode1" ng-click="events.clear()"
                      class="glyphicon form-control-feedback glyphicon-remove" aria-hidden="true"></span>
                <span ng-if="errorEmailCode2" class="glyphicon form-control-feedback glyphicon-ok"
                      aria-hidden="true"></span>
            </div>
            <!--<div class="form-group has-feedback"
                 ng-class="{'has-error': personInfoFrom.emailCodes.$error.ajaxValidate, 'has-success': !personInfoFrom.emailCodes.$error.ajaxValidate}">
                <input type="text" class="form-control ipt-large" placeholder="请输入验证码"
                       name="emailCodes"
                       ng-model="emailInfo.code"
                       required ng-required="true"
                       ajax-data="emailInfo"
                       ajax-validate ajax-url="/web/front/personInfo/findEmailRandomNumber"
                        >
                <span ng-if="personInfoFrom.emailCodes.$error.ajaxValidate" ng-click="events.clear()"
                      ng-class="{'glyphicon-remove': personInfoFrom.emailCodes.$dirty && !personInfoFrom.emailCodes.$error.required}"
                      class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <span ng-if="!(personInfoFrom.emailCodes.$error.ajaxValidate)"
                      ng-class="{'glyphicon-ok': !personInfoFrom.emailCodes.$error.required && !personInfoFrom.emailCodes.$error.ajaxValidate}"
                      class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>-->
        </li>
        <li><span class="left-txt"><i>*</i>学历：</span>
            <select class="form-control slt-large" ng-model="model.personEditInfo.educations">
                <option selected="selected" value="1">大专及以下</option>
                <option value="2">本科</option>
                <option value="3">硕士</option>
                <option value="4">博士</option>
            </select>
        </li>
        <li class="clear"><span class="left-txt fl">性别：</span>
            <label class="radio-inline mr10">
                <input type="radio" name="inlineRadioOptions" value="1" ng-model="model.personEditInfo.sexs"> 男
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" value="2" ng-model="model.personEditInfo.sexs">女
            </label>
        </li>
    </ul>
</form>
