<div class="wrap-title mb20 clearfix">
    <span class="ico"></span>修改密码
</div>
<form name="passwordForm" novalidate="novalidate">
    <ul class="ul-form form-inline w-4">
        <li><span class="left-txt">当前密码 ：</span>

            <div class="form-group">
                <input type="password" class="form-control ipt-large" placeholder="请输入旧密码"
                       ng-model="model.personInfo.oldPassword" name="oldPassword"
                       required>
            </div>
                            <span ng-show="passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$error.required"
                                  class="li-prompt">
                            <span class="ico ico-prompt"></span>请输入旧密码！</span>
        </li>
        <li><span class="left-txt">新密码：</span>

            <div class="form-group">
                <input type="password" class="form-control ipt-large" placeholder="请输入新密码"
                       ng-model="model.personInfo.newPassword"
                       name="newPassword"
                       ng-minlength="6"
                       required
                        />
            </div>
                            <span ng-show="passwordForm.newPassword.$dirty && passwordForm.newPassword.$error.required"
                                  class="li-prompt">
                            <span class="ico ico-prompt"></span>请输入新密码！</span>
                            <span ng-show="passwordForm.newPassword.$error.minlength" class="li-prompt">
                            <span class="ico ico-prompt"></span>密码长度不能小于6位</span>
        </li>
        <li><span class="left-txt">确认密码：</span>

            <div class="form-group">
                <input type="password" class="form-control ipt-large" placeholder="请再次输入密码"
                       ng-model="model.personInfo.confirmPassword"
                       name="confirmPassword"
                       compare="model.personInfo.newPassword"
                       required
                        />
            </div>
                            <span
                                    ng-show="passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$error.required"
                                    class="li-prompt">
                            <span class="ico ico-prompt"></span>请再次输入新密码！</span>
                            <span
                                    ng-show="!passwordForm.confirmPassword.$error.required && passwordForm.confirmPassword.$error.compare"
                                    class="li-prompt">
                            <span class="ico ico-prompt"></span>两次输入的密码不一致！</span>
        </li>
        <li><span class="left-txt"></span>
            <input type="button" class="btn btn-gr btn-w-lg"
                   ng-click="events.updatePwd();passwordForm.$setPristine()"
                   ng-disabled="passwordForm.$invalid"
                   value="确 认">
        </li>
    </ul>
</form>
