
<div class="main-wrap-body">
    <div class="column">
        <div class="col-body">

            <div class="search-bar">
                <ul class="ul-form li-fl clear">
                    <li><input type="text" ng-keyup="$event.keyCode==13?events.selectPage($event):''"
                               ng-model="model.selectParam.keyword" class="ipt ipt-medium" placeholder="请输入手机号或本地号"/>
                    </li>
                    <li><a href="javascript:;" ng-click="events.selectPage($event)" class="btn btn-b">查询</a></li>
                </ul>
            </div>
        </div>
    </div>
  <div class="col-body table-box mt20">
    <div kendo-grid="node.gridInstance" k-options="ui.grid.options">
    </div>
  </div>

</div>
<div kendo-window="node.windows.viewWindow" k-options="ui.windows.viewWindow"></div>

<div id="cccc"></div>
