<div hb-desktop ng-style="desktopStyle">
    <div class="arrow-show left-arrow" ng-if="menus.length > 1">
        <a class="arrow-cont" ng-click="changePage(currentPageIndex - 1)">
            <span class="cont-left"></span>
        </a>
    </div>
    <div class="arrow-show right-arrow" ng-if="menus.length > 1">
        <a class="arrow-cont" ng-click="changePage(currentPageIndex + 1)">
            <span class="cont-right"></span>
        </a>
    </div>

    <div class="group-container" ng-repeat="menuGroup in menus" ng-style="groupStyle">
        <div class="app">
            <div class="app-cont b{{menu.size}}" ng-repeat="menu in menuGroup">
                <div class="app-back">
                    <div class="bg-color-container"
                         ng-style="{background: menu.bgColor,filter: 'alpha(opacity=b{{bgOpacity}})', opacity: bgOpacity / 100}"></div>
                    <span class="app-icon"><img
                            ng-src="images/b{{menu.icon}}"></span>
                </div>
                <div class="adv-hover" ng-click="$state.go(menu.url)">
                    <div class="adv-mask"></div>
                    <div class="adv-hover-cont">
                        <p>b{{menu.tip}}</p>

                        <div class="sub-app-title">
                            <div class="sub-app-icon"><img ng-src="images/b{{menu.icon}}">b{{menu.name}}</div>
                        </div>
                    </div>
                </div>
                <span class="app-title"><a ui-sref="b{{menu.url}}">b{{menu.name}}</a></span>
            </div>
        </div>
    </div>
</div>
