<div class="is-box" ng-init="showSlider = true">
    <div class="index-side-closed" ng-class="{'circle-image-hide': showSlider, 'circle-image-show': !showSlider}">
        <div class="user-1" ng-click="showSlider=true">
            <div class="user-img"><img
                ng-src="b{{$$userInfo.photo ? '/mfs' + $$userInfo.photo : 'images/user-img.jpg'}}"
                alt=""></div>
            <div class="img-mask"></div>
            <span class="m-prompt mp-1">b{{model.messageCount}}</span>
        </div>
    </div>
    <div class="index-side" ng-class="{'slider-hide': !showSlider, 'slider-show': showSlider}">
        <ul class="list-side">
            <li class="ls-li no-p m-t">
                <div class="user">
                    <div class="user-img"><img
                        ng-src="b{{$$userInfo.photo ? '/mfs' + $$userInfo.photo : 'images/user-img.jpg'}}" alt="">
                    </div>
                    <div class="img-mask"></div>
                </div>
            </li>
            <!--<li class="ls-li m-t-1" ng-click="model.clearMessage=0;">-->
            <!--<div class="message">-->
            <!--<span class="s-icon s-i6"></span>-->
            <!--<span class="s-tit">消息</span>-->
            <!--<span class="m-prompt" ng-if="model.messageCount > 0">b{{model.messageCount}}</span>-->
            <!--</div>-->
            <!--</li>-->
            <li class="ls-li m-t-1" ng-mouseenter="loadHistory()">
                <div class="history">
                    <span class="s-icon s-i1"></span>
                    <span class="s-tit">历史</span>
                </div>
                <div class="hover-layer-box sh-2">
                    <div ng-if="showHistoryRecently" class="hover-layer">
                        <span class="arrow"></span>

                        <div class="lay-tit b-line">你最近正在学习：</div>
                        <div class="his-cont clearfix">
                            <div class="cont-img fl"><img
                                ng-src="b{{historyRecently.courseIconPath ? '/mfs/' + historyRecently.courseIconPath : 'images/afei.jpg'}}"
                                alt="课程图片"></div>
                            <div class="cont-info fr">
                                <div class="info-tit">&nbsp;b{{historyRecently.courseName}}</div>
                                <div class="info-bar">
                                    <span class="bar-bg"><span class="bar-progress"
                                                               ng-style="{width: historyRecently.studySchedule + '%'}"></span></span>
                                    <span>b{{historyRecently.studySchedule}}%</span>
                                </div>
                                <div class="info-btn"><a ng-href="#/play/b{{historyRecently.courseId}}/2/"
                                                         target="_blank">继续学习&gt;&gt;</a></div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!showHistoryRecently" class="hover-layer">
                        <span class="arrow"></span>

                        <div style="height: 145px;line-height: 145px;text-align: center;font-size: 22px;font-weight: bold;">
                            您最近暂无学习记录!
                        </div>
                    </div>
                </div>
            </li>
            <li class="ls-li" ng-mouseover="showSkinContainer=true;">
                <div class="skin">
                    <span class="s-icon s-i2"></span>
                    <span class="s-tit">换肤</span>
                </div>
                <div class="hover-layer-box sh-3" ng-if="showSkinContainer">
                    <div class="hover-layer">
                        <span class="arrow"></span>

                        <div class="lay-tit b-line clearfix">
                            <div class="tit-t fl">轻松换肤，你的桌面最出“色”！</div>
                            <!--<div class="transparent fr"><span>模块透明度：</span>-->
                            <!--<span class="transparent-bar">-->
                            <!--<div hb-slider-->
                            <!--value="bgOpacity"-->
                            <!--on-stop-slide="changeBgOpacity(value)"-->
                            <!--ng-model="demoVals.sliderExample2"></div>-->
                            <!--</span>-->
                            <!--</div>-->
                        </div>
                        <div class="skin-img">
                            <ul class="list-img clearfix">
                                <li ng-repeat="bgSkin in bgSkins">
                                    <img ng-click="changeBGStyle(bgSkin.big)" ng-src="images/b{{bgSkin.small}}"
                                         alt="设置背景"/>
                                    <span class="skin-select" ng-if="currentBGImage === bgSkin.big"></span>
                                </li>
                                <!--<li><img src="images/skin.jpg" alt=""><span class="skin-select"></span></li>-->
                            </ul>
                        </div>
                    </div>
                </div>

            </li>
            <li class="ls-li">
                <div class="service">
                    <span class="s-icon s-i3"></span>
                    <span class="s-tit">客服</span>
                </div>
                <div class="hover-layer-box sh-4">
                    <div class="hover-layer">
                        <span class="arrow"></span>

                        <div class="lay-tit b-line clearfix">
                            <div class="service-qq">
                                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3116069479&site=qq&menu=yes">客服1</a>
                            </div>
                            <div class="service-qq">
                                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3126074482&site=qq&menu=yes">客服2</a>
                            </div>
                        </div>
                        <div class="notice">
                            服务时间<br>上午：9:00-12:00 <br/>下午：14:00-18:00
                        </div>
                    </div>
                </div>

            </li>
            <li class="ls-li li-pos-1">
                <div class="qr-code">
                    <span class="s-icon s-i4"></span>
                </div>
                <!--<div class="hover-layer-box sh-1">-->
                <!--<div class="hover-layer">-->
                <!--<span class="arrow"></span>-->
                <!--<span class="user-name">Hi!  Admin</span>-->
                <!--<span>累计学习：232门课程</span>-->
                <!--<span><a href="#" class="current">学员</a> | <a href="#">管理员</a> | <a href="#">部门经理</a> </span>-->
                <!--</div>-->
                <!--</div>-->
            </li>

            <li class="ls-li li-pos" ng-click="showSlider = false">
                <div class="close-side">
                    <span class="s-icon s-i5 s-special"></span>
                </div>
            </li>
    </div>
</div>
<div message-warner
     clear-messages-model="model.clearMessage"
     msg-number-shown="model.messageCount"></div>
