<div>
    <div class="company-area animated" ng-if="animateCompanyName" ng-class="{'lightSpeedIn': animateCompanyName}">
        <h1>b{{$$userInfo.unitName}}</h1>
    </div>
    <div class="user-area">
        <ul>
            <li id="_use_settings">
                <span class="user-name">b{{$$userInfo.userName}}</span>
                <span class="glyphicon glyphicon-user"></span>
            </li>
        </ul>

        <div class="user-area-op animated"
             ng-class="{'fadeOutDown': !toolBarSettings.showOperators, 'fadeInUp': toolBarSettings.showOperators}"
             ng-style="toolBarSettings.theStyle">
            <div class="arrow_"></div>
            <div class="op-con">
                <a ui-sref="states.personInfo.basicInfo" ng-click="showOperators=false"><span
                        class="ico ico-gerenzhongxin"></span>个人中心</a>
                <a ui-sref="states.personInfo.personPasswordModify" ng-click="showOperators=false"><span
                        class="ico ico-mima"></span>修改密码</a>
                <hr class="spliter"/>
                <a href="/FxbManager/userController/doLogout" class="red-font" ng-click="showOperators=false"><span
                        class="ico ico-tuichu"></span>注销</a>
            </div>
        </div>
    </div>
</div>
