<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title ng-bind="$$userInfo.unitName"></title>
    <link rel="icon" type="image/ico" href="favicon.ico">
    <!--<link rel="stylesheet" href="{{logo}}"/>-->
    <!--<link rel="stylesheet" href="{{companyName}}"/>-->
    <!--&lt;!&ndash; build:css(.) styles/vendor.css &ndash;&gt;-->
    <!--&lt;!&ndash; bower:css &ndash;&gt;-->
    <!--<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />-->
    <!--&lt;!&ndash; endbower &ndash;&gt;-->

    <!-- endbuild -->
    <!-- build:css(.) styles/kendo/kendoui.css -->
    <link href="../bower_components/KendoUI/dist/styles/kendo.common.min.css" rel="stylesheet">
    <link href="../bower_components/KendoUI/dist/styles/kendo.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../bower_components/webuploader_fex/dist/webuploader.css"/>
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/webstyle.css"/>
    <!-- endbuild -->
    <script src="../bower_components/es5-shim/es5-shim.min.js"></script>
    <style>
        .title-view .ng-leave {
            display: none;
        }
    </style>
</head>
<body ng-controller="topController">
<div class="wrap clear" ng-if="showApp_$$">
    <div class="side fl initHideMenu" ng-class="{'showHideMenu': showApp_$$}" ui-view="menuView" ng-if="showApp_$$" ng-style="sideStyle"></div>
    <div class="main-wrap fr">
        <div class="main-wrap-pos" ng-style="contentStyle">
            <div class="top abs">
                <div ui-view="topView"></div>
            </div>
            <div tab-stan></div>
        </div>
    </div>
</div>
<div kendo-window="node.TIPWindow" id="top_tip" k-options="ui.TIPConfig" ng-if="showApp_$$">
    <div class="dialog" ng-class="{'hide': globle.typeTip}">
        <div class="dialog-body">
            <div class="dialog-tit"> b{{model.TIPWindow.title}}<a href="javascript:void(0);"
                                                                  ng-click="node.TIPWindow.close()"
                                                                  class="ico ico-close"></a></div>
            <div class="dialog-cont"><p>b{{model.TIPWindow.message}}</p></div>
            <div class="btn-center">
                <input type="button" class="btn btn-r" ng-click="globle.closeWindow()" value="确定"/>
                <input type="button" class="btn btn-g ml10" ng-class="{'hide': !globle.typeConfirm}"
                       ng-click="node.TIPWindow.close()" value="取消"/>
            </div>
        </div>
    </div>
</div>
<span kendo-notification="node.notification_tip" k-options="ui.Tip"></span>
<script src="../bower_components/requirejs/require.js" data-main="js/main.js"></script>
</body>
</html>
