<div class="vv--validate" style="margin: 0 auto;width: 960px;background: rgb(208, 213, 178);">
    <form name="testValidate" novalidate>
        <ul>
            <li>名字:<input class="k-textbox" ng-minlength="5"
                          ng-model="model.user.name" type="text" name="input_01" id="input_01"
                          ajax-data="model.testAjax"
                          ajax-validate
                          ajax-url="http://www.wanglingzouxiu.com:3000/human"
                          ng-required="true" clear-operator/>{{model.user.name}}
                <div>松岛枫</div>
                {{1+1}}
            </li>
            <li>密码:<input class="k-textbox" ng-model="model.user.password" type="text" name="input_02" id="input_02"
                          required clear-operator/></li>
            <li>重复:<input class="k-textbox" type="text" ng-model="model.user.confirmPassword"
                          compare="model.user.password" name="input_02_confirm" required/></li>
            <li>性别:
                <input ng-checked="true" type="radio" ng-model="model.user.sex" value="male" name="sex"/>男
                <input type="radio" ng-model="model.user.sex" value="female" name="sex"/>女
            </li>
            <li>邮箱:<input ng-model="model.user.email" class="k-textbox" type="email" name="input_03" id="input_03"
                          required/></li>
            <li>电话:<input ng-model="mode.user.phone" class="k-textbox" type="text" name="input_04" id="input_04"
                          required/><span ng-show="testValidate.input_04.$invalid && testValidate.input_04.$dirty">45465465465</span>
            </li>
            <li>
                {{testValidate.input_02_confirm.$error.compare}}
                <button class="k-button k-primary">提交</button>
            </li>
        </ul>
        <button class="k-primary k-button" ng-click="testValidate.$setPristine();">sdfsd</button>
    </form>
</div>

<a ui-sref=".edit">修改</a>
<a ui-sref=".release">发布</a>
<ui-view></ui-view>
