
<div class="pos-nav-box">
    <div class="pos-nav">
        <a href="javascript:void(0)" ng-click="$state.go('states.home')" class="ico return"></a>
        <a href="javascript:void(0)" ng-click="$state.go('states.home')" class="aw">首页</a> &gt
        课程详情
    </div>
</div>

<div class="main-wrap-body">
    <div class="column mb20">
        <div class="col-tit clear">课程基础信息<a href="javascript:void(0)" ng-class="{'btn-disable':model.course.status!=1}"
                                            ng-click="events.tryListen(model.course.id)"
                                            class="btn btn-r mr20 fr">试听课程</a></div>
        <div class="dash-line-1"></div>
    </div>
    <div class="rel udf-2">
        <ul class="ul-d-form udf-2 lh-1">
            <li><span class="left-txt">课程名称：</span><span ng-bind="model.course.name"></span></li>
            <li><span class="left-txt">讲师：</span><span ng-bind="model.course.teacherInfo"></span></li>
            <li><span class="left-txt">学分：</span><span ng-bind="model.course.period"></span></li>
            <li><span class="left-txt">课程资源分类：</span><span ng-bind="model.course.typeName"></span></li>
            <li><span class="left-txt">课程创建方：</span><span ng-bind="model.course.unitName"></span></li>
            <li><span class="left-txt">创建人：</span><span ng-bind="model.course.userName"></span></li>
            <li><span class="left-txt">创建时间：</span><span ng-bind="model.course.createTime"></span></li>
            <li class="clear"><span class="left-txt fl">课程简介：</span>
                <span class="w-textarea fl"><span ng-bind="model.course.abouts"></span></span>
            </li>
        </ul>
        <div class="course-pic">
            <img ng-src="b{{model.course.iconPath?'/mfs/'+model.course.iconPath:'images/afei.jpg'}}">
        </div>
    </div>
</div>
<div class="main-wrap-body-1 mt20 clear">
    <div class="column mb20">
        <div class="col-tit">课程章节</div>
        <div class="dash-line-1"></div>
    </div>
    <div class="column-block w-tree fl">
        <div class="col-tit">课程章节（<span ng-bind="model.courseOutlines.length"></span>）</div>
        <div class="col-body p0">
            <ul class="ul-chapter">
                <li ng-class="{'bg-g': model.selectIndex==$index}" ng-click="model.selectIndex=$index"
                    ng-repeat="courseOutline in model.courseOutlines"><span class="chapter-tit"><span ng-bind="$index+1"></span>. <span ng-bind="courseOutline.name"></span></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-pre fl">
        <div class="column-block w-pre">
            <div class="col-tit">课件（<span ng-bind="model.courseOutlines[model.selectIndex].subCourseOutlines.length"></span>）</div>
            <div class="col-body">
                <div class="udf-4">
                    <div class="file-upload-box">
                        <ul class="ul-file-upload">
                            <li ng-repeat="subCourseOutline in model.courseOutlines[model.selectIndex].subCourseOutlines">
                                <span class="file-tit to"> <span ng-bind="$index+1"></span>.<span
                                    ng-class="{'ico ico-document':subCourseOutline.type==1,'ico ico-video':subCourseOutline.type==2,'ico ico-scorm':subCourseOutline.type==3}"></span><span ng-bind="subCourseOutline.name"></span></span>
                                <span class="file-state">上传完成</span>
                                                <span class="fr-ico">
                                                    <a href="javascript:void(0)"
                                                       ng-click="events.tryListen(subCourseOutline)" class="ico-play"><span
                                                        class="ico"></span>播放</a>
                                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-wrap-body mt20">
    <div class="column mb20">
        <div class="col-tit clear">课程的评价</div>
        <div class="dash-line-1"></div>
    </div>
    <div class="comments-box mt20">
        <div class="comment-img clear">
            <div class="ico-c praise fl"><span ng-bind="model.likeNumber"></span><br>被赞数量</div>
            <div class="ico-c no-praise fr"><span ng-bind="model.treadNumber"></span><br>被踩数量</div>
        </div>
        <div class="comments-block mt30">
            <div ng-repeat="review in reviews" class="comment clear">
                <div class="img-user">
                    <img ng-src="b{{review.headPortrait?'/mfs/'+review.headPortrait:'images/user-img.jpg'}}">
                    <span class="img-mask"><img src="images/user-img-mask.png"></span>
                </div>
                <div class="com-txt">
                    <p class="tit"><span ng-bind="review.userName"></span></p>

                    <p class="cont"><span ng-bind="review.contents"></span></p>
                    <a href="javascript:void(0)" ng-click="" class="ico ico-close"></a>
                </div>
            </div>
            <div class="more" ng-show="model.totalPageSize>model.pageNo"><a href="javascript:void(0)"
                                                                            ng-click="events.viewMore($event)">查看更多...</a>
            </div>
            <div ng-show="reviews.length==0" class="no-data clear">
                <div class="p-img"><img src="images/empty.png"></div>
                <div class="p-txt">暂时没有数据!</div>
            </div>
        </div>
    </div>
</div>
