<div class="main-wrap-body-1 clear" ng-show="$state.current.name === 'states.home'">
    <div class="column-block w-5 fl">
        <div class="col-tit clear">账号信息<span class="ct-2 fr mr10"></span></div>
        <div class="col-body h-4">
            <!-- <div class="learning-star-tab mr5">
                <a href="javascript:void(0);" ng-class="{'current':dataType=='day'}"
                   ng-click="events.getLearningStar($event,'day')">今日</a>
                <a href="javascript:void(0);" ng-class="{'current':dataType=='week'}"
                   ng-click="events.getLearningStar($event,'week')">本周</a>
                <a href="javascript:void(0);" ng-class="{'current':dataType=='month'}"
                   ng-click="events.getLearningStar($event,'month')">本月</a>
                <a href="javascript:void(0);" ng-class="{'current':dataType=='year'}"
                   ng-click="events.getLearningStar($event,'year')">今年</a>
            </div> -->
            <ul class="ul-learning-star ml5 mt10 li-fl">
                <li ng-repeat="student in model.learningStar" class=b{{student.showClass}}>
                    <div class="ls-block">
                        <img ng-src="b{{student.photoAddress?'/mfs/'+student.photoAddress:'images/user-img.jpg'}}">
                        <span class="ico course-num" ><span ng-bind="student.courseCount"></span>门</span>
                        <p class="name">
                            <span class="ico ico-1" ng-if="student.sort===1"></span>
                            <span class="ico ico-2" ng-if="student.sort===2"></span>
                            <span class="ico ico-3" ng-if="student.sort===3"></span>
                            <span ng-bind="student.studentShortName"></span>
                        </p>
                        <p class="info">
                            <b><span ng-bind="student.studentName"></span></b><br><span ng-bind="student.unitName"></span><br><span ng-bind="student.orgName"></span><br><span ng-bind="student.post"></span>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="no-data clear" ng-show="!pageVar.hasLearningStar">
                <div class="p-img"><img src="images/empty.png"></div>
                <div class="p-txt">暂无账号信息</div>
            </div>
        </div>
    </div>
    <div class="right-pre fl">
        <div class="column-block w-pre-1">
            <div class="col-tit clear">
                公告通知
                <a href="javascript:void(0);" class="ico ico-set fr mr10"
                   title="公告管理" ng-click="globle.stateGo('states.noticeManage','公告管理')">

                </a>
            </div>
            <div class="col-body h-3">
                <ul class="ul-announce">
                    <li ng-repeat="notice in model.notice">
                        <a href="javascript:void(0);" ng-click="events.viewNotice($event,notice.id)"
                           title=b{{notice.title}}>
                            <span ng-bind="notice.title"></span>
                        </a>
                    </li>
                </ul>
                <div class="no-data clear" ng-show="!pageVar.hasNotice">
                    <div class="p-img"><img src="images/empty.png"></div>
                    <div class="p-txt">暂无公告通知</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>
