<ul class="ul-side" ng-init="model.currentMenu = 'states.home'" hb-nice-scroll hide-on-some-op="showMenu">
    <li ng-repeat="menu in model.menuList"
        ng-class="{'current': menu.name === model.currentMenuName}">
        <span class="ink"></span>
        <a href="javascript:void(0);" class="menu-name"
           ng-click="events.toggleSub($event, menu, menu.state, menu.name)"
                >
            <span ng-class="menu.menuIcon" class="ico"></span>b{{menu.name}}<i
                ng-if="menu.subs && menu.subs.length>0"
                ng-class="{'open': menu.showSub}"></i>
        </a>
        <div class="sub-menu" ng-if="menu.subs && menu.subs.length > 0" ng-show="menu.showSub">
            <ul class="ul-sub-menu">
                <li ng-repeat="subMenu in menu.subs">
                    <a href="javascript:void(0);" ng-click="events.toggleSub($event, subMenu, subMenu.state, menu.name)"
                       ng-class="{'current': model.currentMenu === subMenu.state && menu.name === model.currentMenuName}"
                       class="sub-menu-name">
                        <span class="ico"></span>b{{subMenu.name}}
                        <i ng-if="subMenu.subs && subMenu.subs.length > 0" ng-class="{'open': subMenu.showSub}"></i>
                    </a>

                    <div class="sub-menu" ng-if="subMenu.subs && subMenu.subs.length > 0" ng-show="subMenu.showSub">
                        <ul class="ul-sub-menu-1 sm-1">
                            <li ng-repeat="grandSubMenu in subMenu.subs">
                                <a href="javascript:void(0);"
                                   ng-click="events.toggleSub($event, grandSubMenu, grandSubMenu.state, menu.name)"
                                   class="sub-menu-name smn-1"><span class="ico-s"></span>b{{grandSubMenu.name}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>

<a href="javascript:void(0);" class="ico side-label" ng-click="globle.toggleSideNav()"></a>
