
<style>
.btn {
    padding: 5px 10px;
}
</style>
<div kendo-window="node.uploadHeadWindow" k-options="windowConfig">
            <div class="clear">
                <div class="original-img fl">

                    <div class="img-upload">
                        <div class="upload fl">
                            <div id="upload_btn">选择图片</div>
                        </div>
                        <span class="fl">只支持JPG、PNG *建议： 宽500px * 高100px</span>
                    </div>

                    <div class="or-img-box1">
                        <img class="horizontal"  src="images/give_reason_use_bdh.jpg" id="image_preview_container" width="200px" alt=""/>
                    </div>
                    <br>
            <input type="button" class="btn btn-r" ng-click="getResult()" value="上传图片"/>
                </div>
            </div>
</div>