<div class="modules zoomInDown animated">
    <div class="header">
        <div class="wrap clearfix"><!--ng-if="!$state.includes('states.mySelectCourse.add')"-->
            <!--<a href="#/home" class="h-btn btn-min" title="桌面"></a>-->
            <a href="javascript:void(0);" class="h-btn btn-back" title="上一步"
               ng-if="$state.includes('states.mySelectCourse.add')"
               ng-click="events.returnParent($event)"
               ></a><!--ng-click="$state.go('states.mySelectCourse')"-->
            <a href="javascript:void(0);" class="h-btn btn-close" title="关闭"
               ng-click="$state.go('states.home')"></a>

            <div class="title" ng-if="!$state.includes('states.mySelectCourse.add')">我的选修课</div>
            <div class="title" ng-if="$state.includes('states.mySelectCourse.add')">选课中心</div>
        </div>
    </div>
    <div class="main-wrap-body o-hide" ng-if="!$state.includes('states.mySelectCourse.add')">
        <div class="wrap">
            <div class="list-nav pull-left" ng-show="pageVar.hasCourseCategory&&model.courseCategoryList.length>0">
                <ul class="list-nav-ul">
                    <li>
                        <a href="javascript:void(0);"
                           ng-class="{'list-nav-current':model.queryParam.courseCategoryId===''}"
                           ng-click="events.selectCourseCategory($event,'')"
                            >
                            全部课程
                        </a>
                    </li>
                    <li ng-repeat="courseCategory in model.courseCategoryList">
                        <a href="javascript:void(0);"
                           ng-class="{'list-nav-current':model.queryParam.courseCategoryId===courseCategory.categoryId}"
                           ng-click="events.selectCourseCategory($event,courseCategory.categoryId)"
                            >
                            <span ng-bind="courseCategory.categoryName"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--ng-show="pageVar.hasCourseCategory"-->
            <div class="content-box pull-right">
                <div class="content" hb-nice-scroll nice-scroll-end="events.findMore()">
                    <div class="search-bar body-bg" ng-show="pageVar.hasCourseCategory&&model.courseCategoryList.length>0">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       ng-model="model.queryParam.courseName"
                                       ng-keyup="events.pressEnterKey($event)"
                                       clear-operator
                                       placeholder="请输入课程名称搜索">
                            </div>
                            <div class="form-group">
                                <div class="ipt-group" style="width: 228px;">
                                    <div class="input-group">
                                <input type="text" class="form-control ipt-medium" datepicker-popup="b{{format}}"
                                       ng-model="model.queryParam.lastStudyTimeStart"
                                       is-open="status.opened"
                                       max-date="model.queryParam.lastStudyTimeEnd"
                                       datepicker-options="dateOptions"
                                       placeholder="最后学习时间开始"
                                       readonly
                                       date-disabled="disabled(date, mode)"
                                       ng-required="false"
                                       clear-text="清空"
                                       close-text="关闭"/><span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="events.showDatePicker($event,1);"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                                    </div>
                                </div>
                            </div>-<div class="form-group">
                            <div class="ipt-group" style="width: 228px;">
                                <div class="input-group">
                                    <input type="text" class="form-control ipt-medium" datepicker-popup="b{{format}}"
                                       ng-model="model.queryParam.lastStudyTimeEnd"
                                       is-open="status.endOpened"
                                       min-date="model.queryParam.lastStudyTimeStart"
                                       datepicker-options="dateOptions"
                                       placeholder="最后学习时间结束"
                                       readonly
                                       date-disabled="disabled(date, mode)"
                                       ng-required="false"
                                       clear-text="清空"
                                       close-text="关闭"/><span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="events.showDatePicker($event,2);"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                                <select class="form-control slt-medium" ng-model="model.queryParam.studyState"
                                        ng-change="events.findByQuery()">
                                    <option value="-1" selected>课程学习状态</option>
                                    <option value="0">未学习</option>
                                    <option value="1">学习中</option>
                                    <option value="2">学习完成</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-gr" ng-click="events.findByQuery($event)">搜索</button>
                        </div>
                    </div>

                    <!--ng-show="pageVar.hasCourse"-->

                    <!-----------------  使用media属性，ie8不兼容，ie8需要使用js控制  ------------------>
                    <ul ng-class="{'ul-course-block ucb-1 mt45 clearfix':pageVar.hasCourseCategory,'ul-course-block ucb-1 mt45 clearfix add-course-middle':!pageVar.hasCourseCategory}" >
                        <li class="add-class"><a href="javascript:void(0);">
                            <img src="images/add_class.png" alt=""
                                 ui-sref="states.mySelectCourse.add()"></a>
                        </li>
                        <li ng-repeat="courseInfo in model.courseInfoList">
                            <a href="javascript:void(0);" class="course-img">
                                <img src="images/afei.jpg" alt="" ng-show="courseInfo.courseIconPath===''"/>
                                <img src="/mfsb{{courseInfo.courseIconPath}}" alt=""
                                     ng-show="courseInfo.courseIconPath!=''"/>
                            </a>
                            <a href="javascript:void(0);" class="mask">
                                <img src="images/play_icon.png" alt=""
                                     ng-click="events.playCourse($event,courseInfo.courseId)"/>
                                <span class="ico-del" ng-click="events.removeCourse($event,courseInfo)"></span>
                            </a>

                            <div class="cont">
                                <a href="javascript:void(0);" class="name" title="b{{courseInfo.courseName}}" ui-sref="states.courseDetail({courseId:courseInfo.courseId,states:'states.mySelectCourse'})"><span ng-bind="courseInfo.courseShortName"></span></a>
                                <span class="guide-class-txt" ng-if="courseInfo.lastStudyTime===null">上次学习时间：暂未学习</span>
                                <span class="guide-class-txt" ng-if="courseInfo.lastStudyTime!=null"
                                      title="b{{courseInfo.lastStudyTime}}">上次学习时间：<span ng-bind="courseInfo.lastStudyTime"></span></span>
                                <span class="guide-class-txt">
                                    完成度：
                                    <span class="green-text" ng-if="courseInfo.studySchedule===0">暂未学习</span>
                                    <span class="green-text" ng-if="courseInfo.studySchedule!=0"><span ng-bind="courseInfo.studySchedule"></span>%</span>
                                    <a href="javascript:void(0);"
                                       ui-sref="states.courseDetail({courseId:courseInfo.courseId,states:'states.mySelectCourse'})">
                                        查看详情>>
                                    </a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--&lt;!&ndash;没有查询到课程的默认图片&ndash;&gt;
            <div class="no-data nd-v-middle clearfix" ng-show="!pageVar.hasCourse">
                <div class="p-img"><img src="images/empty.png"></div>
                <div class="p-txt">亲，没有查找出任何课程哦！</div>
            </div>-->
        </div>
        <!--没有找到课程默认图片-->
        <div class="no-data nd-v-middle clearfix" ng-show="pageVar.hasCourseCategory&&!pageVar.hasCourse">
            <div class="p-img"><img src="images/empty.png"></div>
            <div class="p-txt">亲，未找到哦！</div>
        </div>
    </div>
    <div ui-view></div>
</div>
