<div class="dialog">
    <div class="dialog-body">
        <div class="dialog-tit"> 课件信息<a href="javascript:void(0);" ng-click="closeWindow()" class="ico ico-close"></a>
        </div>
        <div class="dialog-cont">
            <ul class="ul-file-upload">
                <li class="bt0"><span class="ico ico-video"></span>b{{$$file.name}} (b{{$$file.formatSize}})</li>
            </ul>
        </div>
        <div class="dialog-tit mt20">转码参数</div>
        <div class="clear">
            <span class="scree-info fl">宽屏(16：9)</span>
            <ul class="trans-coding fl">

                <li>
                    <lable><input type="checkbox" ng-click="checkBoxCheck($event)" value="6"><span
                        ng-click="checkSpan($event)">Web高清(1024*576)</span></lable>
                </li>
                <li>
                    <lable><input type="checkbox" ng-click="checkBoxCheck($event)" value="5"><span
                        ng-click="checkSpan($event)">Web标清/手机高清(480*272)</span></lable>
                </li>
                <li>
                    <lable><input type="checkbox" ng-click="checkBoxCheck($event)" value="4"><span
                        ng-click="checkSpan($event)">手机流畅(176*96)</span></lable>
                </li>
            </ul>
        </div>
        <div class="dialog-sub-tit mt10"></div>
        <div class="clear">
            <span class="scree-info fl">普屏(4：3)</span>
            <ul class="trans-coding fl">
                <li>
                    <lable><input type="checkbox" ng-click="checkBoxCheck($event)" value="3"><span
                        ng-click="checkSpan($event)">Web高清(1024*576)</span></lable>
                </li>
                <li>
                    <lable><input type="checkbox" ng-click="checkBoxCheck($event)" value="2"><span
                        ng-click="checkSpan($event)">Web标清/手机高清(480*272)</span></lable>
                </li>
                <li>
                    <lable><input type="checkbox" ng-click="checkBoxCheck($event)" value="1"><span
                        ng-click="checkSpan($event)">手机流畅(176*96)</span></lable>
                </li>
            </ul>
        </div>
        <div class="btn-center">
            <a href="javascript:void(0);" class="btn btn-r" ng-click="saveAddToQueue()">保存加入上传</a>
            <a href="javascript:void(0);" class="btn btn-g ml10" ng-click="closeWindow()">取消</a>
        </div>
    </div>
</div>
