<div class="dialog rebuild-upload-button">
    <div class="dialog-body">
        <div class="dialog-tit"> 插入图片<a href="javascript: void(0);" ng-click="globle.editor.cancel()"
                                        class="ico ico-close"></a></div>
        <div class="dialog-cont">
            <ul class="ul-d-form ml30">
                <li><span class="left-txt"><i>*</i>选择图片：</span>

                    <div upload-image
                         queue-container-id="insert_images___"
                         ng-model="globle.editor.insertImage"></div>
                    <!--<input type="button" class="btn btn-b" value="选择图片">-->
                </li>
                <li><span class="left-txt"><i>*</i>长：</span>
                    <input type="number"
                           class="ipt ipt-medium" ng-model="globle.editor.imgHeight"/>
                </li>
                <li><span class="left-txt"><i>*</i>宽：</span>
                    <input type="number"
                           class="ipt ipt-medium" ng-model="globle.editor.imgWidth"/></li>
                <li class="clear"><span class="left-txt fl">图片预览：</span>

                    <div style="text-align: center;">
                        <img id="insert_images___" src="images/image_container.png" width="80" height="80" alt=""/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-center">
            <input type="button" class="btn btn-r" ng-click="globle.editor.insertInto()" value="确定插入"/>
            <input type="button" class="btn btn-g ml10" ng-click="globle.editor.cancel()" value="取消"/>
        </div>
    </div>
</div>