<div class="main-body">
    <div class="nav clear">
        <div class="title-view">
            <a href="#"
               ng-click="clickTab($event, tab.activeView.stateName, tab.activeView.params, tab.viewName)"
               ng-class="{'current': $state.current.name === tab.activeView.stateName, 'no-close': $index===0}"
               ng-repeat="tab in HB_TAB.tabs">
                b{{tab.name}}
                <span ng-if="tab.closeAble" ng-click="closeTab($event, $index, tab.viewName)" class="ico close"></span>
            </a>
        </div>
    </div>
    <div class="main-wrap-cont abs"
         ng-init="OWN_VIEW_NAME=tab.viewName"
         ng-style="$state.current.name === tab.activeView.stateName?{zIndex: '10'}:{zIndex: '9'}"
         ng-repeat="tab in HB_TAB.tabs">

        <div class="m-box-1">
            <div class="m-box-2">
                <div class="m-box-3" ui-view="b{{OWN_VIEW_NAME}}"></div>
            </div>
            <div class="footer clear">
                主办：本地联系网后台管理系统<span class="ml20">技术支持：义乌市风向标文化传媒有限公司®</span>
            </div>
        </div>
    </div>
</div>

