<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title ng-bind="$$userInfo.unitName"></title>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <!--&lt;!&ndash; build:css(.) styles/vendor.css &ndash;&gt;-->
    <!--&lt;!&ndash; bower:css &ndash;&gt;-->
    <!--<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />-->
    <!--<link rel="stylesheet" href="../bower_components/ngprogress/ngProgress.css" />-->
    <!--<link rel="stylesheet" href="../bower_components/cropper/dist/cropper.css" />-->
    <!--&lt;!&ndash; endbower &ndash;&gt;-->
    <!--&lt;!&ndash; endbuild &ndash;&gt;-->

    <!-- build:css(.) styles/kendo/kendoui.css -->
    <link href="styles/webstyle.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- endbuild -->
    <script src="../bower_components/es5-shim/es5-shim.min.js"></script>

</head>
<body>
<div class="desktop-wrap" ng-controller="topController" ng-style="bgStyle" ng-if="showApp_$$" ng-click="hideUserOperators($event)">
    <div class="content-wrap" id="app">
        <!--<div ui-view="settingView"></div>-->
        <div ui-view="sliderView"></div>
        <div ui-view="topView"></div>
        <div ui-view class="view-container" ng-if="animateCompanyName"></div>
    </div>
</div>
<script src="../bower_components/requirejs/require.js" data-main="js/main.js"></script>
</body>
</html>
