<style>
    .red {
        background: black;
    }

    .blue {
        background: rgb(88, 88, 166);
    }
</style>
<div class="modules about zoomInDown animated" nice-scroll ng-init="status.opened=true">

    b{{myTimepicker}}

    <div hb-tool-bar title="title"></div>
    <timepicker ng-model="myTimepicker"></timepicker>

    b{{name}}
    <div class="col-md-6">
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="b{{format}}" ng-model="dt" is-open="status.opened"
                   min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="showDatePicker($event);"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>








    <pagination total-items="bigTotalItems"
                first-text="首页"
                last-text="尾页"
                previous-text="上一页"
                next-text="下一页"
                ng-model="bigCurrentPage"
                max-size="maxSize"
                class="pagination-sm"
                boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    <pre>Page: b{{bigCurrentPage}} / b{{numPages}}</pre>

    <input type="text" class="ipt ipt-sm" popover-template="tempUrl"/>

    <a ui-sref="^.home">返回</a>
    <a ui-sref=".editPassword">修改密码</a>
    <a ui-sref="^.personCenter">返回</a>

    <button class="btn btn-primary" ng-click="dialog('confirm')">打开confirm</button>
    <button class="btn btn-primary" ng-click="dialog('alert')">打开alert</button>
    <button class="btn btn-primary" ng-click="dialog('content')">打开alert</button>
    <button class="btn btn-primary" ng-click="tip('warning')">打开tip (warning)</button>
    <button class="btn btn-primary" ng-click="tip('success')">打开tip (success)</button>
    <button class="btn btn-primary" ng-click="tip('info')">打开tip (info)</button>
    <button class="btn btn-primary" ng-click="tip('error')">打开tip (error)</button>
    <button class="btn btn-primary" ng-click="moduleDialog()">打开模块弹窗</button>

    <div hb-pager page-direction="true">

    </div>


    <div hb-scroll='loadMore()' show-to-top="true">
        <!--<div ng-if="isLoading">加载中.....</div>-->
        <div ng-repeat='image in images track by $index' style="width: 200px;height: 150px;float: left;"
             ng-class-even="'red'" ng-class-odd="'blue'">
            b{{name.isLoading}}
        </div>
    </div>
    personCenter

    <div ng-init="testArray1=[];testArray=[];showTest1=false;showTest=true;"></div>



    <div ng-click="testArray.push(1231);">primary</div>
    <div ng-click="testArray1.push(1231);">danger</div>

    <div>
        <button class="btn btn-primary" ng-click="showTest1=false;showTest=true;">primary</button>
        <button class="btn btn-danger" ng-click="showTest1=true;showTest=false;">danger</button>
    </div>
    <div ng-show="showTest"  class="my-scroll-area" style="height: 300px;width: 200px;" hb-nice-scroll nice-option="{cursorcolor: 'blue'}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()">
        <div ng-repeat="test in testArray track by $index">
            b{{test}}
        </div>
    </div>

    <div ng-show="showTest1" class="my-scroll-area" style="height: 300px;" hb-nice-scroll nice-option="{cursorcolor: 'blue'}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll1()">
        <div ng-repeat="test in testArray1 track by $index">
            b{{test}}
        </div>
    </div>

    <datepicker ng-model="dtBiggerThan" max-date="dtSmallerThan" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>

    <datepicker ng-model="dtSmallerThan" min-date="dtBiggerThan" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>

</div>
