.tra,
.side-tab a,
.video-side,
.ul-course-block li img,
.ul-course-block-1 li img,
.ul-course-block li .mask,
.ul-course-block-1 li .mask,
.time-stamp .time a,
.course-img img,
.index-side,
.list-side li,
.hover-layer,
.ls-li,
.float-layout a,
.side-tab-tit {
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
}
.txt-r {
  color: #f00;
}
.rd3 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.no-data {
  width: 240px;
  margin: 30px auto;
}
.no-data .p-img,
.no-data .p-txt {
  text-align: center;
}
.no-data .p-txt {
  font-size: 18px;
  color: #aaa;
}
.nd-v-middle {
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -120px;
}
.ml-1 {
  margin-left: 240px;
}
.body-bg {
  background: url("../images/wrap-bg.jpg");
}
.wrap {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.wrap-1 {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
.main-wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.main-wrap-body {
  width: 100%;
  margin-top: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.mwb-1 {
  margin-top: 152px;
}
.mwb-2 {
  margin-top: 210px;
}
.ma {
  margin: 0 auto;
}
.w-1 {
  width: 880px;
}
.w-2 {
  width: 300px;
}
.w-3 {
  width: 500px;
}
.w-4 {
  width: 600px;
}
.w-5 {
  width: 630px;
  margin: 0 auto;
}
.w-6 {
  width: 220px;
}
.w-7 {
  width: 400px;
}
.wp-1 {
  width: 95%;
  margin: 0 auto;
}
.wp-2 {
  width: 42%;
}
.wp-3 {
  width: 55%;
}
.w-textarea {
  width: 660px;
}
.w-textarea1 {
  width: 636px;
}
.w-textarea2 {
  width: 676px;
}
.w-textarea3 {
  width: 550px;
}
.h-1 {
  height: 668px;
  overflow: auto;
}
.h-2 {
  height: 538px;
  overflow: auto;
}
.h-3 {
  height: 496px;
  overflow: auto;
}
.h-4 {
  height: 400px;
  overflow: auto;
}
.mah-1 {
  max-height: 600px;
  overflow: auto;
}
.ico {
  background: url("../images/web-icons.png") no-repeat;
}
.txt-g {
  color: #999;
}
textarea {
  resize: none;
}
/*-----------  三分频  ------------*/
.o-v {
  overflow: visible;
}
.wrap-three-screen {
  width: 1200px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -600px;
}
.playpage-left-block {
  height: 100%;
  position: relative;
}
.playpage-left-block .video-block {
  width: 340px;
  height: 260px;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.playpage-left-block .video-info-block {
  width: 340px;
  border: 1px solid #ddd;
  background-color: #fff;
  position: absolute;
  top: 280px;
  left: 0;
  bottom: 0;
}
.playpage-left-block .info-block-tit {
  height: 40px;
  line-height: 40px;
  background-color: #e9e9e9;
  text-align: center;
  font-size: 16px;
}
.playpage-left-block .ul-cont {
  width: 340px;
  overflow: auto;
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
}
.playpage-left-block .ul-cont li {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px dashed #ddd;
  text-align: left;
}
.playpage-left-block .ul-cont li a {
  color: #666;
  padding: 0 20px;
  overflow: hidden;
}
.playpage-left-block .ul-cont li a:hover {
  color: #3ca2e2;
}
.playpage-left-block .ul-cont li .current {
  color: #3ca2e2;
}
.playpage-right-block {
  width: 840px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
}
.playpage-right-block .course-cont-block {
  padding: 10px;
}
.wrap-three-screen-1 {
  height: 100%;
  padding: 10px;
}
.playpage-left-block-1 {
  height: 100%;
  position: relative;
}
.playpage-left-block-1 .video-block {
  width: 340px;
  height: 260px;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.playpage-left-block-1 .video-info-block {
  width: 340px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.playpage-left-block-1 .info-block-tit {
  height: 40px;
  line-height: 40px;
  background-color: #e9e9e9;
  text-align: center;
  font-size: 16px;
}
.playpage-left-block-1 .ul-cont {
  width: 340px;
  height: 265px;
  overflow: auto;
}
.playpage-left-block-1 .ul-cont li {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px dashed #ddd;
}
.playpage-left-block-1 .ul-cont li a {
  width: 323px;
  color: #666;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.playpage-left-block-1 .ul-cont li a:hover {
  color: #3ca2e2;
}
.playpage-left-block-1 .ul-cont li .current {
  color: #3ca2e2;
}
.playpage-right-block-1 {
  width: 510px;
  height: 96%;
  background-color: #fff;
  border: 1px solid #ddd;
}
.prb-1 {
  width: 830px;
}
/*-----------  播放页  ------------*/
.playpage-header {
  height: 80px;
  margin-bottom: 20px;
  background: url("../images/playpage-header-bg.png") repeat-x bottom left;
}
.playpage-header img {
  padding-top: 10px;
}
.course-tit {
  font-size: 20px;
  font-weight: bold;
}
.course-tit a {
  font-size: 14px;
  font-weight: normal;
  color: #f66985;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
.course-tit a .ico {
  width: 19px;
  height: 22px;
  background-position: -160px -240px;
  position: relative;
  top: 6px;
}
.video-block,
.comments-block,
.introduce-block {
  border: 1px solid #ddd;
  background-color: #fff;
}
.video-block {
  height: 600px;
  position: relative;
  text-align: center;
}
.video-block .video {
  width: 100%;
  height: 100%;
}
.video-block .pw-1 {
  width: 790px;
  margin: 0 auto;
}
.video-block .video-side {
  height: 100%;
  position: absolute;
  right: -34px;
  top: 0;
  text-align: left;
  z-index: 9999;
}
.video-block .video-side .side-tab {
  width: 33px;
  margin-top: 180px;
}
.video-block .video-side .side-tab .ico {
  width: 6px;
  height: 12px;
  background-position: -364px -130px;
  display: none;
  position: relative;
  top: 28px;
  left: 5px;
}
.video-block .video-side .side-tab a {
  width: 33px;
  height: 75px;
  background-color: #3ca2e2;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  float: left;
}
.video-block .video-side .side-tab a:hover {
  width: 33px;
}
.video-block .video-side .side-tab a:hover .ico {
  display: inline-block;
}
.video-block .video-side .side-tab a:hover .side-tab-tit {
  margin-left: 5px;
}
.video-block .video-side .side-tab a .side-tab-tit {
  width: 13px;
  float: left;
  line-height: 1.2;
  margin-top: 6px;
  margin-left: 10px;
  display: block;
}
.video-block .video-side .side-tab .current {
  width: 33px;
}
.video-block .video-side .side-tab .current .ico {
  display: inline-block;
  background-position: -363px -145px;
}
.video-block .video-side .side-tab .current .side-tab-tit {
  margin-left: 5px;
}
.video-block .video-side .side-cont {
  height: 100%;
  border-left: 1px solid #ddd;
}
.video-block .course-directory,
.video-block .course-cont {
  width: 240px;
  height: 100%;
  background-color: #fff;
  padding: 10px;
}
.video-block .course-cont {
  width: 750px;
}
.video-block .side-cont-tit {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  background-color: #d8ecf9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.ul-tree .item-name {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.ul-tree .item-name:hover {
  background-color: #f2f2f2;
}
.ul-tree .ico {
  width: 12px;
  height: 12px;
  position: relative;
}
.ul-tree .ico-open {
  background-position: -70px -110px;
  top: 4px;
}
.ul-tree .ico-close {
  background-position: -110px -110px;
  top: 1px;
}
.ul-tree .sub-item li {
  line-height: 35px;
  border-bottom: 1px dashed #eee;
}
.ul-tree .sub-item li:last-child {
  border-bottom: 1px solid #ddd;
}
.ul-tree .sub-item li a {
  color: #333;
  padding-left: 20px;
}
.ul-tree .sub-item li a:hover {
  color: #3ca2e2;
}
.ul-tree .sub-item li .gray-t {
  color: #999;
}
.ul-tree .sub-item li .current {
  color: #3ca2e2;
}
.comments-block {
  height: 800px;
  padding: 10px;
}
.comments-block .comment {
  position: relative;
  padding-top: 10px;
  border-bottom: 1px dashed #ddd;
}
.comments-block .comment .img-user {
  position: absolute;
}
.comments-block .comment .img-user img {
  width: 60px;
  height: 60px;
}
.comments-block .comment .img-mask {
  position: absolute;
  top: 0;
  left: 0;
}
.comments-block .comment .com-txt {
  margin-left: 80px;
  padding-bottom: 9px;
  position: relative;
}
.comments-block .comment .com-txt .tit {
  font-weight: bold;
  padding: 5px 0;
}
.comments-block .comment .com-txt .cont {
  min-height: 29px;
}
.comments-block .more {
  text-align: center;
}
.comments-block .more a {
  line-height: 30px;
  color: #333;
}
.comments-block .more a:hover {
  color: #3ca2e2;
}
.cb-1 {
  height: 200px;
  padding: 10px 20px;
  overflow: auto;
}
.introduce-block {
  height: 180px;
  padding: 10px;
  position: relative;
}
.introduce-block .intr-top {
  border-bottom: 1px dashed #ddd;
  position: relative;
}
.introduce-block .intr-tit {
  font-size: 16px;
}
.introduce-block .intr-info {
  color: #999;
  margin: 10px 0;
}
.introduce-block .intr-info .ico {
  width: 14px;
  height: 14px;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
.introduce-block .intr-info .ico-1 {
  background-position: -420px -80px;
}
.introduce-block .intr-info .ico-2 {
  background-position: -440px -80px;
}
.introduce-block .intr-info .ico-3 {
  background-position: -460px -80px;
}
.introduce-block .intr-like {
  position: absolute;
  right: 0;
  top: 10px;
  color: #999;
}
.introduce-block .intr-like button {
  margin-right: 10px;
}
.introduce-block .intr-like button:hover {
  color: #bbb;
}
.introduce-block .intr-like .ico {
  width: 20px;
  height: 23px;
  position: relative;
  top: 6px;
  margin-right: 3px;
}
.introduce-block .intr-like .ico-like {
  background-position: -530px -80px;
}
.introduce-block .intr-like .ico-like:hover {
  background-position: -580px -80px;
}
.introduce-block .intr-like .ico-unlike {
  background-position: -555px -80px;
}
.introduce-block .intr-like .ico-unlike:hover {
  background-position: -605px -80px;
}
.introduce-block .intr-like .current {
  color: #f66985;
}
.introduce-block .intr-like .current:hover {
  color: #f66985;
}
.introduce-block .intr-like .current .ico-like {
  background-position: -480px -80px;
}
.introduce-block .intr-like .current .ico-like:hover {
  background-position: -480px -80px;
}
.introduce-block .intr-like .current .ico-unlike {
  background-position: -505px -80px;
}
.introduce-block .intr-like .current .ico-unlike:hover {
  background-position: -505px -80px;
}
.introduce-block .intr-cont {
  width: 858px;
  height: 85px;
  overflow: auto;
  margin: 10px 0;
  text-indent: 2em;
}
.introduce-block .ic-1 {
  width: auto;
}
.btn .ico {
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;
}
.btn .ico-add {
  background-position: -70px -40px;
}
.btn .ico-cancel {
  background-position: -70px -54px;
}
.comments-box {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
}
.comments-box .txt-g {
  font-size: 12px;
  line-height: 30px;
}
.head-cont {
  height: 40px;
  line-height: 40px;
  background-color: #f2f2f2;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
.head-cont .col-1,
.head-cont .col-2,
.head-cont .col-3 {
  padding: 0 10px;
  text-align: center;
}
.head-cont .col-2 {
  text-align: left;
}
.ul-course-cont .course-cont-tit {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}
.ul-course-cont .col-1 {
  width: 500px;
}
.ul-course-cont .col-2 {
  width: 100px;
}
.ul-course-cont .col-1,
.ul-course-cont .col-2,
.ul-course-cont .col-3 {
  padding: 0 10px;
}
.ul-sub-cont li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}
.ul-sub-cont li a {
  color: #3ca2e2;
}
.ul-sub-cont li a:hover {
  color: #2386c4;
}
.ul-sub-cont .current {
  color: #3ca2e2;
}
.header {
  width: 100%;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
}
.header .h-btn {
  float: left;
  position: relative;
  top: 20px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}
.header .btn-min {
  background: url("../images/metro-dialog-home.png");
}
.header .btn-back {
  background: url("../images/metro-dialog-back.png");
}
.header .btn-close {
  background: url("../images/metro-dialog-close.png");
}
.header .title {
  float: left;
  line-height: 85px;
  margin-left: 10px;
  font-size: 35px;
  font-weight: 700;
  color: #6fcc40;
}
.wrap-title {
  font-size: 18px;
  padding-bottom: 3px;
  border-bottom: 1px dashed #ddd;
}
.wrap-title .ico {
  width: 8px;
  height: 17px;
  background-position: -340px -170px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.wrap-title .sub-txt {
  font-size: 14px;
  color: #666;
}
.ul-statistical {
  width: 1280px;
  margin: 20px auto;
  text-align: center;
}
.ul-statistical li {
  width: 136px;
  height: 136px;
  background: url("../images/statistical-bg.png");
  float: left;
  margin: 0 60px;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
}
.ul-statistical li:hover {
  color: #fff;
  background: url("../images/statistical-bg-hover.png");
}
.ul-statistical .sta-1 {
  color: #68c4db;
  background-position: 0 0;
}
.ul-statistical .sta-1:hover {
  background-position: 0 0;
}
.ul-statistical .sta-2 {
  color: #e9bd70;
  background-position: -136px 0;
}
.ul-statistical .sta-2:hover {
  background-position: -136px 0;
}
.ul-statistical .sta-3 {
  color: #ffa3a3;
  background-position: -272px 0;
}
.ul-statistical .sta-3:hover {
  background-position: -272px 0;
}
.ul-statistical .sta-4 {
  color: #cbabd5;
  background-position: -408px 0;
}
.ul-statistical .sta-4:hover {
  background-position: -408px 0;
}
.ul-statistical .sta-5 {
  color: #6fc4af;
  background-position: -544px 0;
}
.ul-statistical .sta-5:hover {
  background-position: -544px 0;
}
.ul-statistical .item-info {
  font-size: 50px;
  margin-top: 14px;
}
.ul-statistical .item-info span {
  font-size: 14px;
  padding-left: 3px;
}
.us-1 {
  width: 512px;
}
.us-2 {
  width: 768px;
}
.ul-course-block,
.ul-course-block-1 {
  overflow: hidden;
  margin: 0 auto;
}
.ul-course-block li,
.ul-course-block-1 li {
  width: 252px;
  overflow: hidden;
  padding: 5px;
  margin: 10px 15px;
  border: 1px solid #ddd;
  float: left;
  background-color: #fff;
  position: relative;
}
.ul-course-block li .course-img,
.ul-course-block-1 li .course-img {
  width: 240px;
  overflow: hidden;
}
.ul-course-block li .course-img img,
.ul-course-block-1 li .course-img img {
  width: 240px;
}
.ul-course-block li .mask,
.ul-course-block-1 li .mask {
  width: 240px;
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: center;
  background-color: #000;
  opacity: 0;
  filter: alpha(opacity=0);
}
.ul-course-block li .mask img,
.ul-course-block-1 li .mask img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -31px 0 0 -31px;
}
.ul-course-block li:hover,
.ul-course-block-1 li:hover {
  -moz-box-shadow: 0 0 7px #ccc;
  -webkit-box-shadow: 0 0 7px #ccc;
  box-shadow: 0 0 7px #ccc;
}
.ul-course-block li:hover .mask,
.ul-course-block-1 li:hover .mask {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.ul-course-block li .mask-1,
.ul-course-block-1 li .mask-1 {
  width: 240px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 39px;
  left: 5px;
  background-color: #000;
  padding: 0 10px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ul-course-block li .name,
.ul-course-block-1 li .name {
  width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 5px;
  color: #000;
  text-align: center;
}
.ul-course-block li .info,
.ul-course-block-1 li .info {
  margin-left: 5px;
}
.ul-course-block li .guide-class-txt,
.ul-course-block-1 li .guide-class-txt {
  line-height: 28px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  position: relative;
}
.ul-course-block li .guide-class-txt .green-text,
.ul-course-block-1 li .guide-class-txt .green-text,
.ul-course-block li .guide-class-txt .green-text-1,
.ul-course-block-1 li .guide-class-txt .green-text-1 {
  width: 55px;
  color: #6cc63e;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
.ul-course-block li .guide-class-txt .green-text-1,
.ul-course-block-1 li .guide-class-txt .green-text-1 {
  width: auto;
  font-size: 18px;
}
.ul-course-block li .guide-class-txt a,
.ul-course-block-1 li .guide-class-txt a {
  position: absolute;
  right: 0;
  color: #3ca2e2;
}
.ul-course-block li .guide-class-txt a:hover,
.ul-course-block-1 li .guide-class-txt a:hover {
  color: #2386c4;
}
.ul-course-block li .gct-1,
.ul-course-block-1 li .gct-1 {
  line-height: 1.5;
}
.ul-course-block li .ml63,
.ul-course-block-1 li .ml63 {
  margin-left: 63px;
}
.ul-course-block .li-1,
.ul-course-block-1 .li-1 {
  /*height: 261px;*/
}
.ul-course-block .guide-class-icon,
.ul-course-block-1 .guide-class-icon {
  margin: 5px 0 4px 30px;
}
.ul-course-block .guide-class-img,
.ul-course-block-1 .guide-class-img {
  position: relative;
}
.ul-course-block .guide-class-img .mask,
.ul-course-block-1 .guide-class-img .mask {
  left: 0;
  top: 0;
}
.ul-course-block .detail-block,
.ul-course-block-1 .detail-block {
  width: 250px;
  padding: 10px 15px;
  line-height: 1.5;
  text-indent: 2em;
  color: #fff;
  background: #297ded;
  display: none;
}
.ul-course-block .detail-block .detail-block-bold,
.ul-course-block-1 .detail-block .detail-block-bold {
  font-weight: bolder;
  display: inline-block;
  padding-top: 3px;
  text-indent: 0;
}
.ul-course-block .detail-block-right,
.ul-course-block-1 .detail-block-right {
  position: absolute;
  left: 230px;
  bottom: -15px;
  z-index: 999;
}
.ul-course-block .detail-block-right .detail-block-arrow,
.ul-course-block-1 .detail-block-right .detail-block-arrow {
  width: 18px;
  height: 45px;
  display: block;
  position: absolute;
  left: -15px;
  bottom: 20px;
  text-indent: 0;
}
.ul-course-block .detail-block-left,
.ul-course-block-1 .detail-block-left {
  position: absolute;
  left: -93px;
  bottom: -15px;
}
.ul-course-block .detail-block-left .detail-block-arrow,
.ul-course-block-1 .detail-block-left .detail-block-arrow {
  width: 18px;
  height: 45px;
  display: block;
  position: absolute;
  right: -15px;
  bottom: 20px;
  text-indent: 0;
}
.ul-course-block .detail:hover .detail-block,
.ul-course-block-1 .detail:hover .detail-block {
  display: block;
}
.ul-course-block .test-label,
.ul-course-block-1 .test-label {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-color: #f66985;
  position: absolute;
  top: 5px;
  right: 5px;
}
.ul-course-block .test-result,
.ul-course-block-1 .test-result {
  width: 68px;
  height: 55px;
  position: absolute;
  bottom: 15px;
  right: 2px;
}
.ul-course-block .pass,
.ul-course-block-1 .pass {
  background: url("../images/pass.png");
}
.ul-course-block .no-pass,
.ul-course-block-1 .no-pass {
  background: url("../images/no-pass.png");
}
.ul-course-block .t-pass,
.ul-course-block-1 .t-pass {
  background: url("../images/t-pass.png");
}
.ul-course-block .t-nopass,
.ul-course-block-1 .t-nopass {
  background: url("../images/t-nopass.png");
}
.ul-course-block .t-success,
.ul-course-block-1 .t-success {
  background: url("../images/t-success.png");
}
.ul-course-block .t-unbegin,
.ul-course-block-1 .t-unbegin {
  background: url("../images/t-unbegin.png");
}
.ul-course-block .t-full,
.ul-course-block-1 .t-full {
  background: url("../images/t-full.png");
}
.ul-course-block .t-ing,
.ul-course-block-1 .t-ing {
  background: url("../images/t-ing.png");
}
.ul-course-block .t-no,
.ul-course-block-1 .t-no {
  background: url("../images/t-no.png");
}
.ucb-1 li {
  margin: 10px 5px;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
  overflow: visible;
}
.ucb-1 .ico-del {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 5px;
  top: 5px;
  background: url("../images/delete-icon.png");
  cursor: pointer;
}
.add-class {
  width: 250px;
  text-align: center;
}
.ul-course-block-1 {
  width: 49536px;
  position: relative;
}
.ul-course-block-1 li {
  margin: 10px 18px;
}
.ul-cb-1 li {
  margin: 10px 5px;
}
.time-stamp {
  width: 100%;
  position: absolute;
  top: 162px;
  z-index: 9999;
}
.time-stamp a {
  color: #666;
  margin: 0 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.time-stamp .all {
  padding: 2px 5px;
}
.time-stamp .all:hover {
  color: #6fcc40;
}
.time-stamp .all.current {
  color: #6fcc40;
}
.time-stamp .ico-up,
.time-stamp .ico-down {
  width: 12px;
  height: 12px;
}
.time-stamp .ico-up {
  background-position: -421px -111px;
}
.time-stamp .ico-up:hover {
  background-position: -421px -131px;
}
.time-stamp .ico-up.current {
  background-position: -421px -131px;
}
.time-stamp .ico-down {
  background-position: -441px -111px;
}
.time-stamp .ico-down:hover {
  background-position: -441px -131px;
}
.time-stamp .ico-down.current {
  background-position: -441px -131px;
}
.time-stamp .sort {
  margin-right: -210px;
}
.time-stamp .time {
  margin-left: 210px;
  margin-right: 60px;
  position: relative;
  height: 37px;
  overflow: hidden;
}
.time-stamp .time a {
  padding: 2px 5px;
  border: 1px solid #ddd;
  margin: 0 1.2% 10px;
  background-color: #fff;
}
.time-stamp .time a:hover {
  background-color: #ddd;
}
.time-stamp .time a .ico {
  width: 18px;
  height: 14px;
  position: relative;
  top: 2px;
  left: 2px;
  margin: 0 5px;
}
.time-stamp .time a .ico-learned {
  background-position: -460px -110px;
}
.time-stamp .time a .ico-learning {
  background-position: -480px -110px;
}
.time-stamp .time a .ico-unlearn {
  background-position: -500px -110px;
}
.time-stamp .time .current {
  background-color: #ddd;
}
.time-stamp .ico-label {
  padding: 2px 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
}
.time-stamp .ico-label:hover {
  background-color: #6fcc40;
  border-color: #6fcc40;
  color: #fff;
}
.box-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -650px;
  width: 1300px;
  height: 500px;
}
.wrap-1366 {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}
.wrap-1366 .w-1300 {
  width: 1300px;
}
.vertical-line {
  background: url("../images/vertical_line.png") repeat-y right;
}
.light-line {
  background: url("../images/light_line.png") repeat-x bottom;
}
.info-round {
  width: 920px;
  height: 450px;
  text-align: center;
}
.info-list {
  width: 380px;
  text-align: center;
  padding-left: 20px;
}
.info-list .info-list-ul {
  width: 330px;
}
.info-list .info-list-ul li {
  margin-bottom: 10px;
  line-height: 80px;
  font-size: 22px;
}
.info-list .info-list-ul li .radius-l-10 {
  height: 80px;
  background: #d7d7d7 url("../images/icons.png") no-repeat 10px 22px;
  width: 210px;
  border-radius: 10px 0 0 10px;
  padding-left: 40px;
}
.info-list .info-list-ul li .radius-r-10 {
  height: 80px;
  background: #d7d7d7;
  width: 115px;
  border-radius: 0 10px 10px 0;
}
.info-list .info-list-ul li .f-42 {
  font-size: 42px;
}
.info-list .info-list-ul li .small-txt {
  font-size: 20px;
  margin: 10px 20px 0 20px;
  padding-bottom: 11px;
}
.info-list .info-list-ul li .red-bg {
  background: #f00;
  color: #fff;
}
.info-list .info-list-ul li .info-icon1 {
  background-position: 10px 22px;
}
.info-list .info-list-ul li .info-icon2 {
  background-position: 10px -58px;
}
.info-list .info-list-ul li .info-icon3 {
  background-position: 10px -138px;
}
.info-list .info-list-ul li .info-icon4 {
  background-position: 10px -218px;
}
.info-list .info-list-ul li .info-icon5 {
  background: #f00 url("../images/icons.png") no-repeat 10px -294px;
}
/*意见反馈 */
.opinion {
  width: 1200px;
  margin: 0 auto;
  color: #000;
  position: relative;
}
.opinion form {
  margin: 0;
}
.opinion .opinion-block {
  padding: 10px 20px;
  background-color: #fff;
  overflow: hidden;
  zoom: 1;
  position: relative;
}
.opinion .opinion-block span {
  display: inline-block;
}
.opinion .opinion-block .btn {
  width: 120px;
}
.opinion .block-color {
  background-color: #f2f2f2;
}
.opinion-icon {
  width: 64px;
  height: 57px;
  background: url("../images/opinion_icon.png") no-repeat;
}
.opinion-tit {
  font-size: 24px;
  padding: 10px 0 0 10px;
}
.opinion-tips {
  padding-top: 50px;
}
.opinion-tips a {
  color: #6fcc40;
}
.opinion-tips a:hover {
  text-decoration: underline;
}
.opinion-step {
  width: 42px;
  height: 42px;
  background: url("../images/opinion_step.png") no-repeat;
  position: absolute;
  top: 10px;
  left: 15px;
}
.opinion-step-1 {
  background-position: 0 0;
}
.opinion-step-2 {
  background-position: -42px 0;
}
.opinion-step-3 {
  background-position: -84px 0;
}
.block-cont {
  width: 100%;
}
.block-cont span {
  padding-left: 50px;
}
.block-col {
  margin: 5px 0 0 50px;
}
.o-hide {
  overflow: hidden;
}
.nt-1 {
  width: 100%;
  position: absolute;
  top: 100px;
}
.list-nav {
  width: 220px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 44px;
  overflow: auto;
}
.list-nav .list-nav-ul li {
  margin-bottom: 1px;
  background: #6cc63e;
}
.list-nav .list-nav-ul a {
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 16px;
  display: block;
  cursor: pointer;
  padding-left: 20px;
  position: relative;
}
.list-nav .list-nav-ul a:hover {
  background: #7fe24d;
}
.list-nav .list-nav-ul a .ico {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 15px;
  top: 16px;
}
.list-nav .list-nav-ul a .ico-open {
  background-position: -70px -40px;
}
.list-nav .list-nav-ul a .ico-close {
  background-position: -70px -54px;
}
.list-nav .list-nav-ul .list-nav-tit {
  margin-bottom: 2px;
  cursor: default;
}
.list-nav .list-nav-ul .list-nav-tit:hover {
  background: #6cc63e;
}
.list-nav .list-nav-ul .list-nav-current {
  background: #339307;
}
.list-nav .list-nav-ul .list-nav-current a {
  background: #339307;
}
.list-nav .list-nav-ul .list-nav-current a:hover .sub-list-nav a:hover {
  background: #48ab1b;
}
.list-nav .list-nav-ul .list-nav-current .current {
  background: #48ab1b;
}
.list-nav .sub-list-nav {
  margin: 0 10px;
  border-top: 1px dashed #86b86e;
}
.list-nav .sub-list-nav li {
  background: #339307;
}
.list-nav .sub-list-nav a {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}
.list-nav .sub-list-nav a:hover {
  background: #3fa511;
}
.list-nav .sub-list-nav a .ico {
  top: 12px;
}
.list-nav .sub-list-nav .current a {
  background: #3fa511;
}
.ln-1 {
  top: -54px;
}
.content-box {
  position: absolute;
  top: 0;
  left: 235px;
  right: 0;
  bottom: 44px;
}
.content-box .content {
  height: 100%;
  overflow: auto;
}
.content-box .content .mt45 {
  margin-top: 45px;
}
.content-box .content .add-course-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -170px 0 0 -236px;
}
.ul-form {
  margin: 0 auto;
}
.ul-form li {
  margin-bottom: 10px;
  position: relative;
}
.ul-form li .left-txt {
  width: 110px;
  text-align: right;
  margin-right: 10px;
}
.ul-form li .left-txt i {
  color: #f00;
  position: relative;
  top: 2px;
  left: -5px;
}
.ul-form li .txt-long {
  width: 140px;
  position: relative;
  left: -30px;
  margin-right: -20px;
}
.ul-form li .txt-long-1 {
  width: 154px;
  position: relative;
  left: -44px;
  margin-right: -34px;
}
.ul-form li .slt {
  margin-left: -4px;
}
.ul-form li .slt-1 {
  margin-left: 0;
}
/* 头像设置 */
.original-img,
.preview-img {
  width: 400px;
  position: relative;
}
.original-img {
  position: relative;
}
.original-img .img-upload {
  height: 34px;
}
.original-img .img-upload .upload {
  width: 85px;
  height: 34px;
  position: relative;
  top: 0px;
  overflow: hidden;
  cursor: pointer;
}
.original-img .img-upload .upload .file {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.original-img .img-upload .upload:hover .btn {
  background-color: #5fbf2f;
}
.original-img .img-upload span {
  line-height: 34px;
}
.original-img .or-img-box {
  width: 400px;
  height: 356px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #ddd;
  position: relative;
  background-color: #fff;
}
.original-img .or-img-box .horizontal {
  max-width: 100%;
}
.original-img .or-img-box .vertical {
  max-height: 100%;
}
.original-img .or-img-box .default {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -37px;
  margin-left: -44px;
}
.btn-op {
  width: 200px;
  height: 32px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: 20px;
  z-index: 999;
}
.btn-op button {
  float: left;
  padding: 0;
}
.btn-op .ico {
  width: 40px;
  height: 32px;
}
.btn-op .original-size {
  background-position: -420px 0;
}
.btn-op .original-size:hover {
  background-position: -420px -40px;
}
.btn-op .bigger {
  background-position: -460px 0;
}
.btn-op .bigger:hover {
  background-position: -460px -40px;
}
.btn-op .smaller {
  background-position: -500px 0;
}
.btn-op .smaller:hover {
  background-position: -500px -40px;
}
.btn-op .turn-left {
  background-position: -540px 0;
}
.btn-op .turn-left:hover {
  background-position: -540px -40px;
}
.btn-op .turn-right {
  background-position: -580px 0;
}
.btn-op .turn-right:hover {
  background-position: -580px -40px;
}
.preview-img,
.preview-img-1 {
  width: 200px;
  height: 400px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
}
.preview-img .p-img-tit,
.preview-img-1 .p-img-tit {
  font-size: 16px;
  margin: 8px 0;
}
.preview-img .img-user,
.preview-img-1 .img-user {
  position: absolute;
}
.preview-img .img-mask,
.preview-img-1 .img-mask {
  position: absolute;
  top: 0;
  left: 0;
}
.preview-img .p-img-1 img,
.preview-img-1 .p-img-1 img {
  width: 120px;
  height: 120px;
  border: 1px solid #eee;
}
.preview-img .p-img-1 .img-preview,
.preview-img-1 .p-img-1 .img-preview {
  overflow: hidden;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border: 1px solid #eee;
}
.preview-img .p-img-2,
.preview-img-1 .p-img-2 {
  margin-top: 10px;
}
.preview-img .p-img-2 .img-user,
.preview-img-1 .p-img-2 .img-user {
  left: 50%;
  margin-left: -40px;
}
.preview-img .p-img-2 .img-user .img-preview,
.preview-img-1 .p-img-2 .img-user .img-preview {
  overflow: hidden;
  width: 80px;
  height: 80px;
}
.preview-img .p-img-2 img,
.preview-img-1 .p-img-2 img {
  width: 80px;
  height: 80px;
}
.preview-img .p-img-2 p,
.preview-img-1 .p-img-2 p {
  padding-top: 80px;
}
.preview-img .p-img-3,
.preview-img-1 .p-img-3 {
  margin-top: 10px;
}
.preview-img .p-img-3 .img-user,
.preview-img-1 .p-img-3 .img-user {
  left: 50%;
  margin-left: -30px;
}
.preview-img .p-img-3 .img-user .img-preview,
.preview-img-1 .p-img-3 .img-user .img-preview {
  width: 60px;
  overflow: hidden;
  height: 60px;
}
.preview-img .p-img-3 img,
.preview-img-1 .p-img-3 img {
  width: 60px;
  height: 60px;
}
.preview-img .p-img-3 p,
.preview-img-1 .p-img-3 p {
  padding-top: 60px;
}
.preview-img-1 {
  width: 630px;
  height: 160px;
  padding: 10px;
  margin: 0 auto;
}
.preview-img-1 .p-img-1 {
  margin-left: 80px;
}
.preview-img-1 .p-img-2,
.preview-img-1 .p-img-3 {
  position: relative;
  margin-left: 70px;
}
.preview-img-1 .p-img-2 .img-user,
.preview-img-1 .p-img-3 .img-user {
  left: 0;
  margin-left: 0;
}
.preview-img-1 .p-img-2 {
  margin-top: 20px;
}
.preview-img-1 .p-img-2 p {
  margin-top: 20px;
}
.preview-img-1 .p-img-3 {
  margin-top: 30px;
}
.preview-img-1 .p-img-3 .img-user {
  left: 5px;
}
.preview-img-1 .p-img-3 p {
  margin-top: 30px;
}
.table-d {
  width: 100%;
  background-color: #fff;
}
.table-d th {
  background-color: #ddd;
  font-weight: bold;
}
.table-d th,
.table-d td {
  padding: 10px 15px;
  text-align: center;
  position: relative;
}
.table-d td {
  border-bottom: 1px solid #ddd;
}
.table-d tr:hover .del {
  display: block;
}
.table-d .text-left {
  text-align: left;
}
.table-d .ico {
  width: 10px;
  height: 10px;
  background: url("../images/web-icons.png") -460px -130px;
  position: absolute;
  top: 17px;
  left: 4px;
}
.table-d .del {
  width: 14px;
  height: 14px;
  background: url("../images/web-icons.png") -290px -210px;
  position: absolute;
  top: 15px;
  right: 10px;
  display: none;
  cursor: pointer;
}
.table-d .anc {
  color: #333;
}
.table-d .anc:hover {
  color: #6fcc40;
}
.table-d .op {
  color: #6fcc40;
}
.table-d .op:hover {
  color: #5fbf2f;
}
.table-d .more {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 14px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #6fcc40;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}
.table-d .more:hover {
  background-color: #5fbf2f;
}
.table-list {
  margin-bottom: 0;
}
.table-list th {
  text-align: center;
}
.table-list > tbody > tr > td {
  line-height: 30px;
  text-align: center;
}
.announcement-cont .anc-tit {
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 20px;
}
.announcement-cont .anc-tit p {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}
.announcement-cont .anc-body {
  line-height: 1.8;
}
.announcement-cont .anc-body p {
  text-indent: 2em;
  margin-bottom: 5px;
}
.announcement-cont .anc-body img {
  border: 5px solid #fff;
  margin: 20px;
  max-width: 1000px;
  -moz-box-shadow: 0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow: 0px 0px 5px #ccc;
}
.dash-line {
  border-bottom: 1px dashed #ddd;
  margin: 10px 0;
}
.zt-a a {
  padding: 2px 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #666;
}
.zt-a a:hover {
  color: #6fcc40;
}
.zt-a .current {
  background-color: #6fcc40;
  color: #fff;
}
.zt-a .current:hover {
  color: #fff;
}
.udf-2 {
  width: 800px;
  margin: 0 auto;
}
.udf-7 {
  padding: 20px 0;
  border-bottom: 1px dashed #ccc;
  background-color: #fff;
}
.lh-1 li {
  line-height: 34px;
}
.lh-2 {
  line-height: 30px;
}
.countdown {
  width: 350px;
  height: 72px;
  margin: 8px auto 0 auto;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px;
  color: #fff;
  background-color: #6fcc40;
}
.countdown .time {
  font-size: 35px;
  font-weight: bold;
  padding: 0 5px;
}
.ul-archives li {
  width: 48%;
  height: 162px;
  overflow: hidden;
  padding: 5px;
  margin: 0 0.5% 20px;
  border: 1px solid #ddd;
  float: left;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.ul-archives li:hover img {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
}
.ul-archives li .course-img {
  width: 200px;
  height: 150px;
  float: left;
  overflow: hidden;
}
.ul-archives li .course-img img {
  width: 200px;
  height: 150px;
}
.ul-archives li .cont-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.ul-archives li .cont {
  margin-left: 210px;
}
.ul-archives li .cont .name {
  font-weight: bold;
  color: #333;
  line-height: 30px;
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}
.ul-archives li .cont .name:hover {
  color: #6fcc40;
}
.ul-archives li .info {
  color: #666;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 5px;
}
.ul-archives li .info .info-item {
  cursor: default;
}
.ul-archives li .info .ico {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.ul-archives li .info .ico-people {
  background-position: -420px -150px;
}
.ul-archives li .info .ico-time {
  background-position: -440px -150px;
}
.ul-archives li .info .ico-credits {
  background-position: -460px -150px;
}
.ul-archives li .info .ico-progress {
  background-position: -480px -150px;
}
.ul-archives li .info .ico-total {
  background-position: -500px -150px;
}
.ul-archives li .info .ico-start {
  background-position: -520px -150px;
}
.ul-archives li .info .ico-ranking {
  background-position: -540px -150px;
}
.ul-archives li .info .ico-submit {
  background-position: -560px -150px;
}
.ul-archives li .info .ico-date {
  background-position: -580px -150px;
}
.ul-archives li .info .ico-pass {
  background-position: -600px -150px;
}
.ul-archives li .info .ico-score {
  background-position: -620px -150px;
}
.ul-archives li .no-b {
  border: 0;
}
.ul-archives li .im-txt {
  font-weight: bold;
  color: #f66985;
}
.ul-archives li .im-txt-1 {
  font-size: 16px;
  font-weight: bold;
  color: #f66985;
}
.ul-archives .purpose {
  text-indent: 2em;
  margin-right: 5px;
  margin-top: 5px;
}
.ul-archives .test-result {
  width: 68px;
  height: 55px;
  position: absolute;
  bottom: 10px;
  right: 13px;
}
.ul-archives .pass {
  background: url("../images/pass.png");
}
.ul-archives .no-pass {
  background: url("../images/no-pass.png");
}
.btn-center {
  text-align: center;
  margin: 20px 0 0 0;
}
.gray-t {
  color: #999;
}
.tip {
  width: 150px;
  padding: 20px 20px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0px 0px 7px #999;
  -webkit-box-shadow: 0px 0px 7px #999;
  box-shadow: 0px 0px 7px #999;
}
.tip .ico {
  width: 86px;
  height: 102px;
  background: url("../images/tips.png") no-repeat;
}
.tip .ico-information {
  background-position: 0 0;
}
.tip .ico-warning {
  background-position: -90px 0;
}
.tip .ico-error {
  background-position: -180px 0;
}
.tip .ico-success {
  background-position: -270px 0;
}
.scree-info {
  width: 100px;
  text-align: right;
  padding-right: 20px;
}
.trans-coding {
  width: 250px;
}
.trans-coding input {
  position: relative;
  top: 2px;
}
.pages a {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #888;
  border: 1px solid #ddd;
  display: inline-block;
  background-color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-left: 2px;
}
.pages a:hover {
  background-color: #3ca2e2;
  border-color: #3ca2e2;
  color: #fff;
}
.pages .a-1 {
  width: auto;
  padding: 0 8px;
}
.pages .current {
  background-color: #3ca2e2;
  border-color: #3ca2e2;
  color: #fff;
}
/*首页侧边栏*/
.index-side {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
  background-color: #eee;
  width: 40px;
  height: 100%;
  color: #000;
}
.index-side .list-side {
  margin: 0;
  padding: 0;
  height: 90%;
  position: relative;
  top: 4%;
  min-height: 550px;
}
.index-side .list-side .ls-li {
  width: 40px;
  margin-bottom: 10px;
  padding: 12px 0 9px 0;
  cursor: pointer;
  position: relative;
}
.index-side .list-side .ls-li:hover {
  background-color: #ddd;
}
.index-side .list-side .ls-li:hover .hover-layer-box {
  right: 40px;
}
.index-side .list-side .ls-li .hover-layer-box {
  cursor: default;
  position: absolute;
  right: -655px;
}
.index-side .list-side .ls-li .sh-1 {
  top: -47px;
  width: 245px;
}
.index-side .list-side .ls-li .sh-1 .hover-layer {
  width: 230px;
}
.index-side .list-side .ls-li .sh-1 span {
  display: block;
  margin-bottom: 8px;
}
.index-side .list-side .ls-li .sh-1 span a {
  color: #333;
  padding: 0 5px;
}
.index-side .list-side .ls-li .sh-1 span a:hover {
  text-decoration: underline;
}
.index-side .list-side .ls-li .sh-1 span .current {
  color: #2e92cf;
}
.index-side .list-side .ls-li .sh-1 .user-name {
  font-size: 24px;
}
.index-side .list-side .ls-li .sh-2 {
  top: -64px;
  width: 415px;
}
.index-side .list-side .ls-li .sh-2 .hover-layer {
  width: 400px;
}
.index-side .list-side .ls-li .sh-2 .his-cont {
  margin-top: 10px;
}
.index-side .list-side .ls-li .sh-2 .cont-img img {
  width: 100px;
  height: 100px;
}
.index-side .list-side .ls-li .sh-2 .info-bar,
.index-side .list-side .ls-li .sh-2 .info-tit {
  margin-top: 10px;
}
.index-side .list-side .ls-li .sh-2 .info-btn {
  margin-top: 15px;
}
.index-side .list-side .ls-li .sh-2 .info-btn a {
  font-size: 16px;
  color: #4fa524;
}
.index-side .list-side .ls-li .sh-2 .info-btn a:hover {
  text-decoration: underline;
}
.index-side .list-side .ls-li .sh-2 .bar-bg {
  width: 200px;
  height: 10px;
  background-color: #fff;
  display: inline-block;
  position: relative;
}
.index-side .list-side .ls-li .sh-2 .bar-progress {
  height: 10px;
  background-color: #6fcc40;
  display: inline-block;
  position: absolute;
  left: 0;
}
.index-side .list-side .ls-li .sh-3 {
  top: -87px;
  width: 655px;
}
.index-side .list-side .ls-li .sh-3 .hover-layer {
  width: 640px;
}
.index-side .list-side .ls-li .sh-3 .transparent-bar {
  width: 180px;
  display: inline-block;
}
.index-side .list-side .ls-li .sh-3 .list-img {
  padding: 0;
  margin: 0;
  height: 150px;
  overflow: auto;
}
.index-side .list-side .ls-li .sh-3 .list-img li {
  width: 106px;
  height: 60px;
  border: 3px solid #fff;
  margin: 10px 5px 0 5px;
  float: left;
  position: relative;
}
.index-side .list-side .ls-li .sh-3 .list-img li:hover {
  border-color: #eee;
}
.index-side .list-side .ls-li .sh-3 .list-img li img {
  width: 100px;
  height: 54px;
}
.index-side .list-side .ls-li .sh-3 .list-img li img:hover {
  cursor: pointer;
  outline: 3px solid #b7b7b7;
}
.index-side .list-side .ls-li .sh-3 .list-img .skin-select {
  position: absolute;
  bottom: -8px;
  right: -8px;
  width: 28px;
  height: 28px;
  display: block;
  background: url("../images/skin_select.png");
}
.index-side .list-side .ls-li .sh-4 {
  top: -42px;
  width: 265px;
}
.index-side .list-side .ls-li .sh-4 .hover-layer {
  width: 250px;
}
.index-side .list-side .ls-li .sh-4 .notice {
  font-size: 12px;
  margin-top: 10px;
}
.index-side .list-side .ls-li .sh-4 .service-qq {
  width: 100px;
  font-size: 14px;
  background: url("../images/right_side.png") no-repeat 0 -298px;
  padding-left: 25px;
  float: left;
}
.index-side .list-side .ls-li .sh-4 .no-online {
  background: url("../images/right_side.png") no-repeat 0 -248px;
  color: #666;
}
.index-side .list-side .ls-li .sh-5 {
  top: -73px;
  width: 195px;
}
.index-side .list-side .ls-li .sh-5 .hover-layer {
  width: 180px;
}
.index-side .list-side .ls-li .sh-5.hover-layer {
  padding: 15px;
}
.index-side .list-side .ls-li .sh-5 img {
  width: 150px;
  height: 150px;
}
.index-side .list-side .ls-li .hover-layer {
  position: relative;
  margin-right: 15px;
  z-index: 100;
  background-color: #ddd;
  padding: 20px;
  color: #333;
  width: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.index-side .list-side .ls-li .hover-layer .arrow {
  width: 0;
  height: 0;
  border-width: 10px 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #ddd;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: -10px;
}
.index-side .list-side .ls-li .b-line {
  background: url("../images/line_2px.png") repeat-x 0 bottom;
}
.index-side .list-side .ls-li .lay-tit {
  font-size: 16px;
  padding-bottom: 10px;
}
.index-side .list-side .no-p {
  padding: 0;
}
.index-side .list-side .m-t {
  margin-top: 30px;
}
.index-side .list-side .m-t-1 {
  margin-top: 50px;
}
.index-side .list-side .li-pos,
.index-side .list-side .li-pos-1 {
  position: absolute;
  bottom: 15%;
}
.index-side .list-side .li-pos-1 {
  bottom: 25%;
}
.index-side .user {
  position: relative;
  overflow: hidden;
  height: 61px;
}
.index-side .user-img {
  padding-top: 12px;
  padding-left: 2px;
}
.index-side .user-img img {
  width: 36px;
  height: 36px;
}
.index-side .img-mask {
  width: 40px;
  height: 61px;
  background: url("../images/img_mask_1.png") 0 0;
  position: absolute;
  top: 0;
  left: 2px;
}
.index-side .img-mask:hover {
  background-position: 0 -61px;
}
.index-side .s-icon {
  width: 20px;
  height: 20px;
  background: url("../images/right_side.png");
  display: block;
  margin-left: 10px;
}
.index-side .s-special {
  background-position: -3px -200px !important;
  width: 16px;
  height: 16px;
  margin-left: 13px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.index-side .s-special:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.index-side .s-i1 {
  background-position: 0 0;
}
.index-side .s-i2 {
  background-position: 0 -50px;
}
.index-side .s-i3 {
  background-position: 0 -100px;
}
.index-side .s-i4 {
  background-position: 0 -150px;
}
.index-side .s-i5 {
  background-position: 0 -200px;
}
.index-side .s-i6 {
  background-position: 0 -350px;
}
.index-side .s-tit {
  font-size: 11px;
  text-align: center;
  display: block;
}
.index-side-closed {
  width: 55px;
  height: 55px;
  background: url("../images/side_closed_bg.png");
  position: fixed;
  right: 0;
  bottom: 16%;
  overflow: hidden;
  cursor: pointer;
}
.index-side-closed .user-1 {
  position: relative;
  top: 8px;
  left: 15px;
  cursor: pointer;
}
.index-side-closed .user-1 .user-img img {
  width: 36px;
  height: 36px;
}
.index-side-closed .user-1 .img-mask {
  width: 36px;
  height: 40px;
  background: url("../images/img_mask_2.png") 0 0;
  position: absolute;
  top: 0;
}
.m-prompt {
  font-size: 12px;
  padding: 0 5px;
  color: #fff;
  background-color: #f00;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  position: absolute;
  top: 2px;
  right: 0;
}
.mp-1 {
  right: 15px;
}
.body-bg-1 {
  background: url("../images/bg-moshoushijie-1920-1200.jpg");
}
.prompt-window-box {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 250px;
  min-height: 100px;
  overflow: hidden;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.prompt-window-box .pw-tit {
  height: 30px;
  line-height: 30px;
  background-color: #6fcc40;
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
}
.prompt-window-box .pw-tit .pw-close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 8px;
  right: 5px;
  background-position: -360px -210px;
  opacity: .8;
  filter: alpha(opacity=80);
  cursor: pointer;
}
.prompt-window-box .pw-tit .pw-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.prompt-window-box .pw-cont {
  margin: 10px;
  position: absolute;
  height: 80px;
  background: #fefefe;
  overflow: hidden;
}
.prompt-window-box .more {
  margin: 100px 10px 0 10px;
  padding-top: 5px;
  text-align: right;
  border-top: 1px dashed #ddd;
}
.prompt-window-box .more a {
  color: #6fcc40;
  padding: 2px 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.prompt-window-box .more a:hover {
  color: #5fbf2f;
}
.table-hover-1 tr:hover {
  background-color: #fff;
}
.course-detail-img {
  margin-left: 50px;
}
.course-detail-img img {
  width: 400px;
  height: 300px;
  border: 5px solid #fff;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}
.float-layout {
  width: 50px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: 600px;
}
.float-layout a {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-bottom: 0;
  background-color: #fff;
  display: block;
  text-align: center;
  color: #999;
  font-size: 12px;
}
.float-layout a:hover {
  background-color: #f2f2f2;
}
.float-layout a:hover .play {
  color: #3ca2e2;
}
.float-layout .ico {
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
  left: 4px;
}
.float-layout .like {
  background-position: -530px -80px;
}
.float-layout .unlike {
  background-position: -555px -80px;
}
.float-layout .play {
  width: 27px;
  background-position: -210px -214px;
  top: 8px;
  left: -5px;
}
.float-layout .current {
  color: #f66985;
}
.float-layout .current .like {
  background-position: -480px -80px;
}
.float-layout .current .like:hover {
  background-position: -480px -80px;
}
.float-layout .current .unlike {
  background-position: -505px -80px;
}
.float-layout .current .unlike:hover {
  background-position: -505px -80px;
}
.border-box {
  border: 1px solid #ddd;
  background-color: #fff;
}
.cd-tit {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 8px 10px;
}
.cd-list li {
  line-height: 40px;
  border-bottom: 1px dashed #ddd;
  padding: 0 20px;
  cursor: pointer;
}
.cd-list li:last-child {
  border-bottom: 0;
}
.cd-list li:hover {
  background-color: #f2f2f2;
}
.cd-list li .num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #6fcc40;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  position: relative;
  top: 0;
  margin-right: 5px;
}
.cd-list .current {
  background-color: #f2f2f2;
}
.ul-file-upload li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px dashed #ddd;
  position: relative;
  clear: both;
  _zoom: 1;
}
.ul-file-upload li:last-child {
  border-bottom: 0;
}
.ul-file-upload .bt0 {
  border-bottom: 0;
}
.ul-file-upload .ico {
  width: 17px;
  height: 20px;
  margin: 0 3px 0 10px;
  position: relative;
  top: 4px;
}
.ul-file-upload .ico-document {
  background-position: -190px -210px;
}
.ul-file-upload .ico-video {
  background-position: -220px -210px;
}
.ul-file-upload .ico-scorm {
  background-position: -340px -210px;
}
.ul-file-upload .file-state {
  position: absolute;
  top: 0;
  right: 180px;
  width: 60px;
}
.ul-file-upload .txt-b {
  color: #3ca2e2;
}
.ul-file-upload .file-tit {
  width: 550px;
}
.ul-file-upload .file-tit .num {
  width: 40px;
  height: 39px;
  text-align: center;
  background-color: #fafafa;
}
.ul-file-upload .file-size {
  width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ul-file-upload .upload-progress {
  height: 4px;
  width: 150px;
  margin-left: 10px;
  background-color: #ccc;
  position: relative;
  top: -3px;
}
.ul-file-upload .upload-progress .current {
  height: 4px;
  background-color: #3ca2e2;
  position: absolute;
  top: 0;
  left: 0;
}
.ul-file-upload .li-prompt {
  white-space: normal;
}
.ul-file-upload .li-prompt .ico-prompt {
  width: 5px;
  height: 8px;
  margin: 0;
  position: absolute;
  left: -5px;
  top: 10px;
}
.ul-file-upload .lip-1 {
  left: 213px;
}
.ul-file-upload .fr-ico {
  position: absolute;
  top: 0;
  right: 20px;
}
.ul-file-upload .fr-ico .ico-op {
  margin-left: 10px;
}
.ico-play {
  color: #3ca2e2;
  margin-right: 20px;
}
.ico-play:hover {
  color: #3ca2e2;
}
.ico-play .ico {
  width: 14px;
  height: 14px;
  background-position: -270px -210px;
  position: relative;
  top: 2px;
}
.disable {
  color: #999;
  cursor: default;
}
.disable:hover {
  color: #999;
}
.disable .ico {
  background-position: -250px -210px;
}
.search-bar {
  position: absolute;
  top: 0;
  left: 5px;
  right: 16px;
  z-index: 999;
  padding-bottom: 10px;
}
/*  我的岗位课  */
.wrap-1366 {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}
.wrap-1366 .w-1300 {
  width: 1300px;
}
.guide-text {
  width: 30px;
  height: 240px;
  font-size: 48px;
  line-height: 1.2;
  padding: 60px 0 0 0px;
  color: #aaa;
}
.bor-green {
  width: 1230px;
  background: #eee;
  padding: 20px 0;
  border: 3px solid #6cc63e;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #444;
}
.guide-info {
  width: 115px;
  height: 300px;
  padding-top: 125px;
  font-size: 20px;
  text-align: center;
}
.circle-tab {
  height: 110px;
  border-bottom: 5px solid #b7b7b7;
  position: relative;
}
.circle-tab .green-line {
  height: 110px;
  border-bottom: 5px solid #6cc63e;
  position: relative;
  display: inline-block;
}
.circle-tab .circle {
  position: absolute;
  top: -3px;
}
.circle-tab .circle li {
  float: left;
  width: 119px;
  height: 80px;
  margin-left: 117px;
  font-size: 48px;
  color: #fff;
  padding: 5px 0 0 0;
  position: relative;
  text-align: center;
  text-indent: -40px;
}
.circle-tab .circle .f-24 {
  font-size: 24px;
}
.circle-tab .circle .current-circle {
  width: 119px;
  height: 150px;
  padding: 75px 35px 0 40px;
  background: url("../images/current_circle.png") no-repeat;
}
.circle-tab .circle .green-circle {
  margin-top: 70px;
  background: url("../images/green_circle.png") no-repeat;
}
.circle-tab .circle .gray-circle {
  margin-top: 70px;
  background: url("../images/gray_circle.png") no-repeat;
}
.circle-tab .circle .tab-more {
  width: 40px;
  position: absolute;
  top: 90px;
  right: -140px;
  background: url("../images/tab_more.png") no-repeat;
}
.circle-tab .circle .circle-tab-tit {
  width: 200px;
  font-size: 18px;
  position: absolute;
  left: -40px;
  text-align: center;
  margin-top: 15px;
  cursor: default;
  color: #333;
}
.circle-tab .circle-1 {
  position: absolute;
  top: -3px;
}
.circle-tab .circle-1 li {
  float: left;
  width: 119px;
  height: 80px;
  margin-left: 165px;
  font-size: 24px;
  color: #fff;
  padding: 23px 0 0 15px;
  position: relative;
}
.circle-tab .circle-1 .current-circle {
  width: 119px;
  height: 150px;
  padding: 90px 35px 0 17px;
  background: url("../images/current_circle.png") no-repeat;
}
.circle-tab .circle-1 .green-circle {
  margin-top: 70px;
  background: url("../images/green_circle.png") no-repeat;
}
.arrow-prev {
  cursor: pointer;
  margin: 120px 10px 0 35px;
  width: 20px;
  height: 63px;
  float: left;
  background: url("../images/guide_arrow.png");
}
.arrow-next {
  cursor: pointer;
  margin: 120px 10px 0 10px;
  width: 20px;
  height: 63px;
  float: left;
  background: url("../images/guide_arrow.png") -20px 0;
}
.ap-1 {
  margin: 120px 0 0 0;
}
.an-1 {
  margin: 120px 10px 0 6px;
}
.test-instructions {
  background-color: #fff;
  padding: 10px 20px;
}
.test-instructions .ti-tit {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.ul-course-box,
.ul-course-box-1 {
  width: 1150px;
  overflow: hidden;
}
.ul-course-box-1 {
  width: 1043px;
}
.page-num .ico {
  width: 7px;
  height: 11px;
  margin: 0 5px;
}
.page-num .ico-prev {
  background-position: -296px -211px;
}
.page-num .ico-next {
  background-position: -287px -211px;
}
.page-num .txt-gr {
  color: #6fcc40;
  font-size: 18px;
}
.wrap-404 {
  width: 547px;
  height: 588px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -294px 0 0 -274px;
  background: url("../images/404.png");
}
.wrap-404 .p-1 {
  position: absolute;
  top: 212px;
  left: 250px;
  color: #fff;
  font-size: 36px;
  text-align: center;
}
.wrap-404 .p-2 {
  position: absolute;
  top: 370px;
  left: 130px;
  font-size: 30px;
  line-height: 1.2;
}
.wrap-404 .p-2 .s-1 {
  font-size: 24px;
  color: #777;
}
.trd-left {
  width: 820px;
}
.trd-left .ico-play {
  width: 14px;
  height: 14px;
  background-position: -270px -210px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.trd-right {
  width: 350px;
}
.sta-pic {
  margin: 20px 0 10px 0;
}
.sta-pic .pic-show {
  width: 100px;
  height: 100px;
  background-color: #b3dffa;
  overflow: hidden;
  margin: 0 32px;
}
.sta-pic .circle-current,
.sta-pic .circle-mask {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
}
.sta-pic .circle-current {
  background: url("../images/circle-current.png") no-repeat;
  top: 100%;
}
.sta-pic .circle-mask {
  background: url("../images/circle-mask.png") no-repeat;
  top: 0;
}
.sta-pic p {
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  position: relative;
  z-index: 99;
}
.sta-pic p span {
  font-size: 30px;
}
.sta-pic .sp-info {
  width: 100px;
  text-align: center;
  font-size: 14px;
  margin: 10px 32px 0;
}
.condition-cont .txt-r {
  font-size: 150%;
}
.training-course-detail {
  margin: 5px 0 30px 0;
  position: relative;
  background-color: #fff;
  padding: 20px;
}
.training-course-detail .course-detail-img {
  margin-left: 0;
}
.training-course-detail .course-detail-img img {
  border: 0;
  box-shadow: 0 0 0;
}
.training-course-detail .tcd-cont {
  margin-left: 30px;
}
.training-course-detail .tcd-tit {
  font-size: 30px;
}
.training-course-detail .ul-tcd-cont {
  margin-left: 20px;
}
.training-course-detail .ul-tcd-cont li {
  margin-top: 20px;
}
.training-course-detail .intr-like {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #999;
}
.training-course-detail .intr-like button:hover {
  color: #bbb;
}
.training-course-detail .intr-like .ico {
  width: 20px;
  height: 23px;
  position: relative;
  top: 6px;
  margin-right: 3px;
}
.training-course-detail .intr-like .ico-like {
  background-position: -530px -80px;
}
.training-course-detail .intr-like .ico-like:hover {
  background-position: -580px -80px;
}
.training-course-detail .intr-like .ico-share {
  background-position: -530px -110px;
}
.training-course-detail .intr-like .ico-share:hover {
  background-position: -560px -110px;
}
.training-course-detail .intr-like .current {
  color: #f66985;
}
.training-course-detail .intr-like .current:hover {
  color: #f66985;
}
.training-course-detail .intr-like .current .ico-like {
  background-position: -480px -80px;
}
.training-course-detail .intr-like .current .ico-like:hover {
  background-position: -480px -80px;
}
.training-course-detail .tcd-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.training-course-detail .tcd-btn .btn {
  width: 120px;
}
.training-course-detail .test-result {
  width: 150px;
  height: 121px;
  position: absolute;
  bottom: 100px;
  right: 145px;
}
.training-course-detail .t-pass {
  background: url("../images/t-pass-1.png");
}
.trd-more {
  line-height: 30px;
  text-align: center;
}
.trd-more a {
  color: #666;
}
.trd-more a:hover {
  color: #3ca2e2;
}
.table-list > tbody > tr .lh-3 {
  line-height: 15px;
}
.refresh {
  line-height: 30px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #c3c3c3;
  color: #fff;
  font-size: 14px;
  padding: 0 10px;
}
.refresh:hover {
  background: #ccc;
  color: #fff;
}
.refresh .ico {
  width: 17px;
  height: 17px;
  background-position: -380px -70px;
  position: relative;
  top: 4px;
}
.table .ico-up,
.table .ico-down {
  width: 11px;
  height: 7px;
  position: relative;
  left: 3px;
}
.table .ico-up {
  background-position: -360px -190px;
  top: -2px;
}
.table .ico-down {
  background-position: -360px -170px;
  top: 0;
}
