<div class="modules zoomInDown animated">
    <div class="header">
        <div class="wrap clearfix">
            <!--<a href="#" ui-sref="^.home" class="h-btn btn-min" title="桌面"></a>-->
            <!--<a href="#" class="h-btn btn-back" title="上一步"></a>-->
            <a href="#" ui-sref="^.home" class="h-btn btn-close" title="关闭"></a>

            <div class="title">意见反馈</div>
        </div>
    </div>
    <form novalidate="novalidate" name="feedbackForm">
        <div class="main-wrap-body">
            <div class="opinion">
                <div class="opinion-block">
                    <span class="opinion-icon pull-left"></span>
                    <span class="opinion-tit pull-left">遇到问题了？尽管告诉我们吧！</span>
                    <!--<span class="opinion-tips pull-right">您遇到的问题也许<a href="#">在这里</a>已经有解答了，<a href="#"> 找找看>></a></span>-->
                </div>
                <div class="opinion-block block-color">
                    <span class="opinion-step opinion-step-1"></span>

                    <div class="block-cont">
                        <span>选择类型：</span>

                        <div class="block-col">
                            <div class="radio">
                                <label class="mr10"><input type="radio" value="1" ng-model="model.feedback.type"
                                                           name="optionsRadios" checked>故障投诉</label>
                                <label class="mr10"><input type="radio" value="2" ng-model="model.feedback.type"
                                                           name="optionsRadios">改善建议</label>
                                <label class="mr10"><input type="radio" value="3" ng-model="model.feedback.type"
                                                           name="optionsRadios">新手咨询</label>
                                <label class="mr10"><input type="radio" value="4" ng-model="model.feedback.type"
                                                           name="optionsRadios">其他</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="opinion-block block-color">
                    <span class="opinion-step opinion-step-2"></span>

                    <div class="block-cont">
                        <span>请详细描述您的建议、意见、问题等</span>

                        <div class="block-col">
                        <textarea class="form-control" name="desc" ng-model="model.feedback.desc" required required
                                  ng-required="true"
                                  ng-maxlength="1500" placeholder="请输入问题描述（1~1500字）" rows="6"></textarea>
                        </div>
                        <div ng-show="feedbackForm.desc.$dirty && feedbackForm.desc.$error.required" class="li-prompt"
                             style="color:#ff0000"><span class="ico ico-prompt"></span>请输入问题描述
                        </div>
                        <div
                            ng-show="feedbackForm.desc.$dirty && !feedbackForm.desc.$error.required && feedbackForm.desc.$error.maxlength"
                            class="li-prompt" style="color:#ff0000"><span
                            class="ico ico-prompt"></span>问题描述不能超过1500字
                        </div>
                    </div>
                </div>
                <div class="opinion-block block-color">
                    <span class="opinion-step opinion-step-3"></span>

                    <div class="block-cont">
                        <span>请输入您的手机号码（选填）</span>

                        <div class="block-col">
                            <div class="form-group">
                                <input type="text" ng-model="model.feedback.mobile" name="mobile" required
                                       ng-required="true"
                                       ng-pattern="/^1[3578][0-9]{9}$/" class="form-control w-2" placeholder="手机号码">

                                <div ng-show="feedbackForm.mobile.$dirty && feedbackForm.mobile.$error.required"
                                     class="li-prompt" style="color:#ff0000">请输入手机号码
                                </div>
                                <div
                                    ng-show="feedbackForm.mobile.$dirty && !feedbackForm.mobile.$error.required && feedbackForm.mobile.$error.pattern"
                                    style="color:#ff0000" class="li-prompt">手机号码格式不正确
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="opinion-block text-center">
                    <button class="btn btn-gr" type="button" ng-disabled="feedbackForm.$invalid"
                            ng-click="events.create();feedbackForm.$setPristine()">提 交
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
