::-webkit-input-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
.login-form-container {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000000;
  width: 100%;
  height: 100%;
}
.login-form-container .mark {
  width: 100%;
  height: 100%;
  z-index: 2999;
  filter: alpha(opacity=72);
  opacity: .72;
  background: black;
  position: absolute;
}
.login-form-container .z3000 {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -200px;
  z-index: 3000;
}
.login-box .login {
  width: 310px;
  margin: 0 auto;
}
.login-box .login .login-tab-tit {
  height: 42px;
}
.login-box .login .login-tab-tit a {
  width: 125px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin: 0 2px 2px 0;
  text-align: center;
  background-color: #fff;
}
.login-box .login .login-tab-tit a:hover {
  color: #3ca2e2;
}
.login-box .login .login-tab-tit .current {
  margin-bottom: 0;
  height: 42px;
  color: #fff;
}
.login-box .login .login-tab-tit .current:hover {
  color: #fff;
}
.login-box .login .login-cont {
  padding: 20px 30px 30px;
}
.login-box .login .login-style a {
  color: #999;
}
.login-box .login .login-style .current {
  color: #3ca2e2;
}
.login-box .login .login-style span {
  padding: 0 10px;
}
.login-box .ul-login-form {
  margin-top: 20px;
}
.login-box .ul-login-form li {
  margin-top: 15px;
  position: relative;
}
.login-box .ul-login-form li .ico {
  width: 16px;
  height: 20px;
  position: absolute;
  top: 7px;
  left: 10px;
}
.login-box .ul-login-form li .ico-1 {
  background-position: -90px -80px;
}
.login-box .ul-login-form li .ico-2 {
  background-position: -110px -80px;
}
.login-box .ul-login-form li .ico-3 {
  background-position: -70px -80px;
}
.login-box .ul-login-form .ipt-large,
.login-box .ul-login-form .ipt-small {
  width: 207px;
  padding-left: 35px;
}
.login-box .ul-login-form .ipt-small {
  width: 96px;
}
.login-box .ul-login-form .btn-large {
  width: 250px;
  background-color: #f66985;
}
.login-box .ul-login-form .btn-large:hover {
  background-color: #f47d95;
}
.forget {
  color: #666;
}
.forget:hover {
  text-decoration: underline;
}
