.zt-a a {
  color: #666;
}
.zt-a a:hover {
  color: #54b1ec;
}
.table {
  width: 100%;
}
.dash-line {
  border-top: 1px dashed #3ca2e2;
  margin: 25px 0px;
}
.padding-left20 {
  padding-left: 20%;
}
.s-txt {
  display: inline-block;
  text-align: right;
}
.text-red {
  color: red;
}
.ml119 {
  margin-left: 119px;
}
.ml126 {
  margin-left: 126px;
}
.ml150 {
  margin-left: 150px;
}
.ml146 {
  margin-left: 146px;
}
.width118 {
  width: 118px;
}
.width124 {
  width: 124px;
}
.student-img {
  margin-left: 50px;
}
.student-img img {
  width: 120px;
  height: 120px;
  border: 3px solid #fff;
}
