.wrap,
.side,
.main-wrap {
  height: 100%;
}
.wrap-o {
  height: 100%;
  overflow: auto;
}
.wrap {
  overflow: auto;
}
.ico {
  background: url("../images/web-icons.png") no-repeat;
}
.ico-op {
  background: url("../images/operation-icons.png") no-repeat;
}
.side {
  width: 250px;
  position: relative;
  background-color: #2f404a;
  margin-right: -250px;
  z-index: 999;
}
.side .side-label {
  width: 36px;
  height: 40px;
  background-position: -70px 0;
  position: absolute;
  top: 20px;
  right: -36px;
  z-index: 999;
}
.main-wrap {
  width: 100%;
  background-color: #f2f2f2;
  position: relative;
  min-width: 900px;
  overflow: hidden;
}
.main-wrap .mt0 {
  margin-top: 0;
}
.main-wrap .mb0 {
  margin-bottom: 0;
}
.main-body {
  width: 100%;
  overflow: hidden;
}
.main-wrap-pos {
  height: 100%;
  position: relative;
  margin-left: 250px;
}
.main-wrap-body {
  padding: 10px 20px 20px;
}
.top {
  height: 80px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
}
.top .logo {
  margin: 14px 0 0 50px;
  font-size: 30px;
}
.top .header {
  height: 80px;
}
.top .header .header-nav {
  margin-right: 20px;
}
.top .header .header-nav a {
  color: #666;
  margin-left: 20px;
  line-height: 80px;
}
.top .header .header-nav a:hover {
  color: #3ca2e2;
}
.top .header .header-nav .ico {
  width: 36px;
  height: 27px;
  position: relative;
  top: 10px;
  transition: all 0s;
  -moz-transition: all 0s;
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  display: inline-block;
  margin-left: 20px;
}
.top .header .header-nav .ico:hover .hover-box {
  display: block;
}
.top .header .header-nav .ico-message {
  background-position: -470px -110px;
}
.top .header .header-nav .ico-message:hover {
  background-position: -470px -150px;
}
.top .header .header-nav .ico-task {
  background-position: -520px -110px;
}
.top .header .header-nav .ico-task:hover {
  background-position: -520px -150px;
}
.top .header .header-nav .prompt {
  font-size: 12px;
  line-height: 15px;
  padding: 0 5px;
  color: #fff;
  background-color: #f00;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  position: absolute;
  top: -8px;
  right: -6px;
}
.top .header .header-nav .hover-box {
  display: none;
  position: absolute;
  top: 25px;
  left: -88px;
  z-index: 10;
}
.top .header .header-nav .hover-cont {
  width: 250px;
  padding: 5px 15px;
  background-color: #e2e2e2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
  margin-top: 16px;
}
.top .header .header-nav .hover-cont .arrow {
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #e2e2e2 transparent;
  position: absolute;
  left: 95px;
  top: -20px;
}
.top .header .header-nav .hover-cont .ico-close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -7px;
  display: none;
  cursor: pointer;
}
.top .header .header-nav .hover-cont .hover-list {
  font-size: 12px;
}
.top .header .header-nav .hover-cont .hover-list li {
  padding: 5px;
  padding-right: 12px;
  border-bottom: 1px dashed #ccc;
  color: #666;
  position: relative;
  cursor: default;
}
.top .header .header-nav .hover-cont .hover-list li:hover .ico-close {
  display: block;
}
.top .header .header-nav .hover-cont .hover-list .right-txt {
  position: absolute;
  right: 10px;
}
.top .header .header-nav .hover-cont .hl-1 li {
  padding-left: 0;
}
.top .header .header-nav .hover-cont .hl-1 li .w-1 {
  width: 200px;
  margin-left: -5px;
}
.top .header .header-nav .hover-cont .all {
  width: 100%;
  text-align: right;
}
.top .header .header-nav .hover-cont .all a {
  line-height: 30px;
  font-size: 12px;
}
.top .header .user {
  padding: 7px 30px 7px 0;
  border-right: 1px solid #eee;
  position: relative;
}
.top .header .img-user {
  width: 66px;
  height: 66px;
  position: relative;
}
.top .header .img-user img {
  width: 66px;
  height: 66px;
}
.top .header .img-mask {
  position: absolute;
  top: 0;
  left: 0;
}
.top .header .user-name {
  padding-left: 10px;
  font-size: 16px;
  display: block;
  margin: 8px 0 3px 0;
}
.top .header .user .user-level {
  color: #999;
  padding-left: 10px;
  border: 1px solid #fff;
}
.top .header .user .user-level i {
  width: 11px;
  height: 7px;
  background-position: -70px -110px;
  display: inline-block;
  position: relative;
  top: -1px;
  left: 5px;
}
.nav {
  width: 500%;
  height: 50px;
  background: url("../images/nav-bg.png") repeat-x 0 bottom;
  position: absolute;
  top: 80px;
  overflow: hidden;
}
.nav a {
  width: 85px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
  font-size: 14px;
  border-right: 1px solid #1e7fbb;
  position: relative;
  display: inline;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.nav a .close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 13px;
  right: 10px;
  background-position: -110px 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
}
.nav a:hover {
  padding: 0 32px 0 8px;
}
.nav a:hover .close {
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav .no-close:hover {
  padding: 0 20px;
}
.nav .current {
  background-color: #1e7fbb;
}
.nav .current .close {
  background-position: -110px -20px;
}
.pos-nav-box {
  width: 100%;
}
.pos-nav-box .pos-nav {
  margin: 10px 20px 0;
  height: 40px;
  line-height: 40px;
  background-color: #fefefe;
  color: #999;
  border: 1px dashed #ddd;
}
.pos-nav-box a {
  color: #999;
}
.pos-nav-box a:hover {
  text-decoration: underline;
}
.pos-nav-box .return {
  width: 19px;
  height: 22px;
  margin: 0 5px 0 10px;
  background-position: -140px -240px;
  position: relative;
  top: 6px;
}
.pos-nav-box:hover .return {
  background-position: -160px -240px;
}
.pos-nav-box .aw {
  display: inline;
}
.main-wrap-cont {
  width: 100%;
  overflow: auto;
  top: 130px;
  bottom: 0;
  min-width: 1000px;
}
.ul-side {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.ul-side li {
  border-left: 5px solid #2f404a;
}
.ul-side li:hover .ico-1 {
  background-position: -30px 0;
}
.ul-side li:hover .ico-2 {
  background-position: -30px -30px;
}
.ul-side li:hover .ico-3 {
  background-position: -30px -60px;
}
.ul-side li:hover .ico-4 {
  background-position: -30px -90px;
}
.ul-side li:hover .ico-5 {
  background-position: -30px -120px;
}
.ul-side li:hover .ico-6 {
  background-position: -30px -150px;
}
.ul-side li:hover .ico-7 {
  background-position: -30px -180px;
}
.ul-side li:hover .ico-8 {
  background-position: -30px -210px;
}
.ul-side li:hover .ico-9 {
  background-position: -30px -240px;
}
.ul-side li:hover .menu-name {
  color: #fff;
}
.ul-side .current {
  background-color: #1c282f;
  border-left: 5px solid #3ca2e2;
}
.ul-side .menu-name {
  height: 50px;
  line-height: 50px;
  color: #bbb;
  padding-left: 45px;
  display: block;
  position: relative;
}
.ul-side .menu-name .ico {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 10px;
}
.ul-side .menu-name .ico-1 {
  background-position: 0 0;
}
.ul-side .menu-name .ico-2 {
  background-position: 0 -30px;
}
.ul-side .menu-name .ico-3 {
  background-position: 0 -60px;
}
.ul-side .menu-name .ico-4 {
  background-position: 0 -90px;
}
.ul-side .menu-name .ico-5 {
  background-position: 0 -120px;
}
.ul-side .menu-name .ico-6 {
  background-position: 0 -150px;
}
.ul-side .menu-name .ico-7 {
  background-position: 0 -180px;
}
.ul-side .menu-name .ico-8 {
  background-position: 0 -210px;
}
.ul-side .menu-name .ico-9 {
  background-position: 0 -240px;
}
.ul-side i {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url("../images/web-icons.png") no-repeat -70px -40px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.ul-side .open {
  background-position: -70px -54px;
}
.ul-sub-menu li {
  border-left: 0;
}
.ul-sub-menu li:hover {
  background-color: #1c282f;
  border-left: 0;
}
.ul-sub-menu li:last-child .ico {
  background-position: -70px -165px;
}
.ul-sub-menu li:last-child .ico-s {
  background-position: -71px -200px;
}
.ul-sub-menu li:last-child li:last-child .ico-s {
  background-position: -71px -235px;
}
.ul-sub-menu .sub-menu-name {
  height: 35px;
  line-height: 35px;
  color: #bbb;
  padding-left: 60px;
  display: block;
  position: relative;
}
.ul-sub-menu .sub-menu-name:hover {
  color: #fff;
}
.ul-sub-menu .sub-menu-name .ico {
  width: 30px;
  height: 35px;
  background-position: -70px -130px;
  position: absolute;
  top: 0;
  left: 25px;
}
.ul-sub-menu .smn-1 {
  margin-left: 25px;
}
.ul-sub-menu .smn-1 .ico-s {
  width: 54px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/web-icons.png") no-repeat;
  background-position: -70px -200px;
}
.ul-sub-menu .current {
  border-left: 0;
  color: #3ca2e2;
}
.ul-sub-menu i {
  top: 10px;
}
.sm-1 li:last-child .ico-s {
  background-position: -70px -235px;
}
.column-block {
  border: 1px solid #deecf3;
  background-color: #fff;
  position: relative;
}
.column-block .col-tit {
  height: 24px;
  line-height: 24px;
  border-left: 5px solid #3ca2e2;
  font-size: 18px;
  padding-left: 10px;
  margin: 13px 0;
  position: relative;
}
.column-block .ct-1 {
  font-size: 14px;
}
.column-block .ct-2 {
  font-size: 14px;
  color: #777;
}
.column-block .ct-3 {
  color: #777;
}
.column-block .bl0 {
  border-left: 0;
}
.column-block .col-body,
.column-block .cb-1 {
  padding: 10px;
  border-top: 1px solid #deecf3;
}
.column-block .cb-1 {
  padding: 10px 10px 0;
  border-bottom: 1px solid #deecf3;
}
.column-block .p0 {
  padding: 0;
}
.column-block .bt0 {
  border-top: 0;
}
.column .col-tit {
  height: 24px;
  line-height: 24px;
  border-left: 5px solid #3ca2e2;
  font-size: 18px;
  padding-left: 10px;
  margin: 13px 0;
}
.column .ct-1 {
  font-size: 14px;
  padding-right: 10px;
}
.column .ct-1 .ct-cont {
  max-height: 48px;
  overflow: hidden;
}
.column .bl0 {
  border-left: 0;
}
.col-tit .btn {
  font-size: 14px;
  position: relative;
  top: -3px;
}
.col-tit .btn-1 {
  width: 58px;
  height: 28px;
  line-height: 28px;
  padding: 0;
  margin-right: 20px;
}
.search li {
  margin-right: 20px;
}
.pages a {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #888;
  border: 1px solid #ddd;
  display: inline-block;
  background-color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-left: 2px;
}
.pages .a-1 {
  width: auto;
  padding: 0 8px;
}
.pages a:hover,
.pages .current {
  background-color: #3ca2e2;
  border-color: #3ca2e2;
  color: #fff;
}
.steps {
  height: 120px;
  position: relative;
  border-bottom: 1px dashed #ddd;
}
.steps .bg-line {
  width: 90%;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 28px;
  margin-left: -45%;
  background-color: #ddd;
}
.steps .bg-l-current {
  width: 33.3%;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f66985;
}
.steps .bg-l-c-1 {
  width: 16.6%;
}
.steps .ul-step {
  width: 90%;
  margin: 17px auto;
  position: relative;
  z-index: 9;
}
.steps .ul-step li {
  width: 33.3%;
  text-align: center;
  color: #999;
}
.steps .ul-step .current {
  color: #f66985;
}
.steps .ul-step .current .s-1 {
  background-position: -130px -70px;
}
.steps .ul-step .current .s-2 {
  background-position: -200px -70px;
}
.steps .ul-step .current .s-3 {
  background-position: -270px -70px;
}
.steps .ul-step .current .s-4 {
  background-position: -640px -70px;
}
.steps .ul-step .current .s-5 {
  background-position: -710px -70px;
}
.steps .ul-step .current .s-6 {
  background-position: -780px -70px;
}
.steps .ul-step .ico {
  width: 62px;
  height: 62px;
  margin: 0 auto;
  display: inline-block;
}
.steps .ul-step .s-1 {
  background-position: -130px -140px;
}
.steps .ul-step .s-2 {
  background-position: -200px -140px;
}
.steps .ul-step .s-3 {
  background-position: -270px -140px;
}
.steps .ul-step .s-4 {
  background-position: -640px -140px;
}
.steps .ul-step .s-5 {
  background-position: -710px -140px;
}
.steps .ul-step .s-6 {
  background-position: -780px -140px;
}
.steps .ul-step .ed .s-1 {
  background-position: -130px 0;
}
.steps .ul-step .ed .s-2 {
  background-position: -200px 0;
}
.steps .ul-step .ed .s-3 {
  background-position: -170px 0;
}
.steps .ul-step .ed .s-4 {
  background-position: -640px 0;
}
.steps .ul-step .ed .s-5 {
  background-position: -710px 0;
}
.steps .ul-step .ed .s-6 {
  background-position: -780px 0;
}
.steps .ul-step .pass .s-4 {
  background-position: -640px -210px;
}
.steps .ul-step .pass .s-5 {
  background-position: -710px -210px;
}
.steps .ul-step .pass .s-6 {
  background-position: -780px -210px;
}
.steps .ul-step-1 li {
  width: 16.6%;
}
.btn-center {
  text-align: center;
  margin: 20px 0;
}
.bc-m0 {
  margin: 0;
}
.tab-tit {
  border-bottom: 2px solid #3ca2e2;
}
.tab-tit a {
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  margin-right: 3px;
  border: 1px solid #ddd;
  border-bottom: 0;
  background-color: #fff;
  color: #666;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}
.tab-tit a:hover {
  color: #3ca2e2;
}
.tab-tit .ico-refresh {
  width: 16px;
  height: 16px;
  background-position: -380px -50px;
  position: relative;
  left: 5px;
  top: 3px;
}
.tab-tit .ico-refresh:hover {
  background-position: -380px -90px;
}
.tab-tit .current {
  background-color: #3ca2e2;
  color: #fff;
  border-color: #3ca2e2;
}
.tab-tit .current:hover {
  background-color: #3ca2e2;
  color: #fff;
  border-color: #3ca2e2;
}
.tab-tit .current .ico-refresh {
  background-position: -380px -70px;
}
.tab-tit .current .ico-refresh:hover {
  background-position: -380px -110px;
}
.tab-tit .disable {
  background-color: #ddd;
  color: #999;
  cursor: default;
}
.tab-tit .disable:hover {
  background-color: #ddd;
  color: #999;
}
.tab-tit .btn {
  width: 58px;
  height: 28px;
  line-height: 28px;
  padding: 0;
  border: 0;
  background-color: #bbb;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.tab-tit .btn:hover {
  color: #fff;
  background-color: #ccc;
}
.tab-tit-1 a {
  height: 36px;
  line-height: 36px;
  margin-right: 3px;
  padding: 0 5px;
  border-bottom: 2px solid #f2f2f2;
  color: #666;
  display: inline-block;
}
.tab-tit-1 a:hover {
  color: #3ca2e2;
}
.tab-tit-1 .current {
  color: #3ca2e2;
  border-color: #3ca2e2;
}
.tab-tit-1 .current:hover {
  border-color: #3ca2e2;
}
.ul-form li {
  margin: 0 15px 10px 0;
  position: relative;
}
.ul-form li:last-child {
  margin-right: 0;
}
.ul-form .ml-b {
  margin-left: 100px;
}
.uf-1 {
  width: 800px;
  margin: 0 auto;
}
.uf-2 li {
  margin: 0 5px 10px 0;
  position: relative;
}
.uf-2 .ipt {
  width: 179px;
}
.uf-3 li {
  margin: 0 5px 10px 0;
  position: relative;
}
.uf-3 .ipt {
  width: 120px;
}
.uf-3 .btn {
  width: 58px;
  padding: 0;
}
.txt-r {
  color: #f00;
  font-weight: bold;
}
.table-box {
  min-width: 980px;
  overflow: auto;
}
.table-box-1 {
  min-width: 600px;
  overflow: auto;
}
.table-box-2 {
  min-width: 1300px;
  overflow: auto;
}
