<style type="text/css">
.btn {
    padding: 5px 10px;
}
</style>

<div class="content" hb-nice-scroll nice-scroll-end="events.findMore()">
    <ul class="ucb-1 clearfix">
        <!-- 待考 -->
        <li class="li-1">
             请输入宣传广告语：<input type="text" class="form-control" ng-model="model.advert.title" placeholder="请输入广告语">
        </li>
        <li class="li-1">
             请输入宣传的网址：<input type="text" class="form-control" ng-model="model.advert.url" placeholder="请输入广告网址">
        </li>
        <li class="li-1">
            <div upload-advert ng-model="model.uploadValue" button-text="选择图片"></div>
        </li>
        <li class="li-1">
            <button type="button" class="btn btn-gr" ng-click="events.saveAdvert()">保 存</button>
        </li>
    </ul>
</div>