<div class="content">
    <!--<button type="submit" class="btn btn-r">组练习卷</button>-->
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control ipt-medium" ng-model="model.wrongParams.questionName"
                   ng-keyup="events.toSearch($event)" placeholder="请输入试题名称">
            <!--<input type="text" class="form-control ipt-medium" placeholder="请输入考试名称">-->
        </div>
        <div class="form-group">
            <select class="form-control slt-medium" ng-model="model.wrongParams.questionType">
                <option ng-selected="true" value="-1"> 所有试题类型</option>
                <option value="1">判断题</option>
                <option value="2">单选题</option>
                <option value="4">多选题</option>
                <option value="8">填空题</option>
                <option value="16">简答题</option>
                <option value="64">综合题</option>
            </select>
        </div>
        <button type="submit" class="btn btn-gr" ng-click="events.search()">搜索</button>
    </div>
    <div class="dash-line"></div>
    <!--<div class="dash-line"></div>-->
    <!--<div class="zt-a mt10">考试时间：-->
    <!--<a href="#" ng-class="{'current':model.selectIndex==1}"ng-click="events.searchTime()">不限 (16)</a>-->
    <!--<a href="#" ng-class="{'current':model.selectIndex==2}" ng-click="">今天(0)</a>-->
    <!--<a href="#" ng-class="{'current':model.selectIndex==3}">昨日(0)</a>-->
    <!--<a href="#" ng-class="{'current':model.selectIndex==4}">本周(0)</a>-->
    <!--<a href="#" ng-class="{'current':model.selectIndex==5}">上周(0)</a>-->
    <!--<a href="#" ng-class="{'current':model.selectIndex==6}">本月(0)</a>-->
    <!--<a href="#" ng-class="{'current':model.selectIndex==7}">本年(0)</a>-->
    <!--</div>-->
    <div ng-if="model.wrongs.length>0">
        <table class="table table-d table-bordered mt20">
            <thead>
            <tr>
                <th width="50">序号</th>
                <th>试题名称</th>
                <th width="350">所属考试</th>
                <th width="100">试题类型</th>
                <th width="200">考试时间</th>
                <th width="80">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="wrong in model.wrongs">
                <td>b{{$index+1}}</td>
                <td>b{{wrong.questionName}}</td>
                <td>
                    <div class="w-2 to">b{{wrong.examNames[0]}}</div>
                    <!-------------  超出后显示  --------------->
                    <a ng-if="wrong.examNames.length>1" ng-click="events.viewExamNames(wrong.examNames,$event)" href="#"
                       class="more">+</a>
                </td>
                <td>b{{wrong.typeName}}</td>
                <td>b{{wrong.examTime}}<span class="ml5"></span></td>
                <td><a href="#" ng-click="events.viewQuestion(wrong,$event)" class="op">查看</a></td>
            </tr>
            </tbody>
        </table>
        <pagination total-items="model.bigTotalItems"
                    first-text="首页"
                    last-text="尾页"
                    previous-text="上一页"
                    next-text="下一页"
                    ng-model="model.wrongParams.pageNo"
                    max-size="model.maxSize"
                    class="pagination-sm fr"
                    items-per-page="model.wrongParams.pageSize"
                    ng-change="events.pageChange()"
                    boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    </div>

    <div ng-show="model.wrongs.length==0" class="no-data clear">
        <div class="p-img"><img src="images/empty.png"></div>
        <div class="p-txt">暂时没有数据!</div>
    </div>
</div>

