<div class="content" hb-nice-scroll nice-scroll-end="events.findMore()">
    <ul class="ul-course-block ucb-1 clearfix">
        <div class="no-data clear" ng-show="model.paperList.length<1">
            <div class="p-img"><img src="images/empty.png"></div>
            <div class="p-txt">暂无广告</div>
        </div>

        <!-- 已考 -->
        <li class="li-1" ng-repeat="paper in model.paperList" ng-if="paper.state === -1">
            <a href="#" class="course-img" ng-click="events.detail($event, paper)"><img src="images/test-pic.jpg" alt=""/></a>
            <span class="test-label">b{{paper.examRoundInfo.examModeType == 1 ? '随' : '统'}}</span>
            <!-------------  不及格时把pass改成no-pass  --------------->
            <span class="test-result pass" ng-if="paper.publishType==1" ng-class="{'pass': paper.score >= paper.passScore, 'no-pass': paper.score < paper.passScore}"></span>
            <span href="#" class="mask-1" title="b{{paper.name}}">b{{paper.name}}</span>
            <div class="cont mt5">
                <span class="guide-class-txt">考试时间： b{{paper.enterTime}}</span>
                <span class="guide-class-txt" ng-if="paper.publishType==1">成绩：
                    <span class="green-text-1">b{{paper.score}}</span>分
                </span>
                <span class="guide-class-txt" ng-if="paper.publishType==0">成绩：
                    不公布
                </span>
                 <span class="guide-class-txt" ng-if="paper.publishType==2">成绩：
                    限时公布
                </span>
            </div>
        </li>
    </ul>
</div>
