<div ng-if="model.showView" class="dialog">
    <div class="lh-2">
        <p ng-repeat="name in model.examNames">b{{name}}</p>
    </div>
</div>

<div ng-if="model.showQueestion" class="dialog">
    <div class="dialog-body mt30">
        <div class="dialog-tit"> 组卷练习<a href="#" class="ico ico-close"></a></div>
        <div class="dialog-cont">
            <div class="dialog-sub-tit">设置各题型数量</div>
            <div class="form-inline ml20">
                <div class="form-group">
                    <label>单选题：</label>
                    <input type="text" class="form-control ipt-small">
                    <span class="gray-t ml10">错题库中，有XX题。</span>
                </div>
                <div class="form-group mt10">
                    <label>多选题：</label>
                    <input type="text" class="form-control ipt-small">
                    <span class="gray-t ml10">错题库中，有XX题。</span>
                </div>
                <div class="form-group mt10">
                    <label>判断题：</label>
                    <input type="text" class="form-control ipt-small">
                    <span class="gray-t ml10">错题库中，有XX题。</span>
                </div>
                <div class="form-group mt10">
                    <label>填空题：</label>
                    <input type="text" class="form-control ipt-small">
                    <span class="gray-t ml10">错题库中，有XX题。</span>
                </div>
                <div class="form-group mt10">
                    <label>简答题：</label>
                    <input type="text" class="form-control ipt-small">
                    <span class="gray-t ml10">错题库中，有XX题。</span>
                </div>
                <div class="form-group mt10">
                    <label>综合题：</label>
                    <input type="text" class="form-control ipt-small">
                    <span class="gray-t ml10">错题库中，有XX题。</span>
                </div>
            </div>
            <div class="btn-center">
                <button type="button" class="btn btn-gr">确定并进入练习</button>
                <button type="button" class="btn btn-g">取消</button>
            </div>
        </div>
    </div>
</div>
