
<div class="main-wrap-body">
    <div class="column">
        <div class="col-body">

            <div class="search-bar">
                <ul class="ul-form li-fl clear">
                    <li><input type="text" ng-keyup="$event.keyCode==13?events.selectPage($event):''"
                               ng-model="model.selectParam.keyword" class="ipt ipt-medium" placeholder="请输入商铺名称"/>
                    </li>
                    <!--
                    <li><input type="text" ng-keyup="$event.keyCode==13?events.selectPage($event):''"
                               ng-model="model.selectParam.name" class="ipt ipt-medium" placeholder="账号持有人姓名"/></li>
                    <li><input type="text" ng-keyup="$event.keyCode==13?events.selectPage($event):''"
                               ng-model="model.selectParam.email" class="ipt ipt-medium" placeholder="请输入邮箱号"/></li>
                    <li>
                        <select class="select-small ng-pristine ng-valid" ng-model="model.selectParam.status">
                            <option selected="selected" value="0">全部状态</option>
                            <option value="1">启用</option>
                            <option value="2">停用</option>
                        </select>
                    </li>-->
                    <li><input kendo-date-picker="node.startCreateTime"
                       ng-keyup="$event.keyCode==13?events.selectPage($event):''"
                       k-options="ui.datePicker.begin.options"
                       ng-model="model.selectParam.startCreateTime" type="text" hb-readonly hb-clear-input
                       class="ipt ipt-s"
                       placeholder="开始时间"/></li>
                    <li><input kendo-date-picker="node.endCreateTime"
                       ng-keyup="$event.keyCode==13?events.selectPage($event):''"
                       k-options="ui.datePicker.begin.options"
                       ng-model="model.selectParam.endCreateTime" type="text" hb-readonly hb-clear-input
                       class="ipt ipt-s"
                       placeholder="结束时间"/></li>
                    <li><a href="javascript:;" ng-click="events.selectPage($event)" class="btn btn-b">查询</a></li>
                    <li><a href="javascript:void(0);" class="btn-b btn ml10" ng-class="{'btn-g': !model.batchFire, 'btn-b': model.batchFire}" ng-click="events.deletes()">删除商铺</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dash-line-1"></div>
    <div class="col-body">
        <!--<a href="javascript:;" class="btn-b btn" ng-click="globle.stateGo('states.newAdminAccount', '新增账号')">新增账号</a>-->
        <!--<a href="javascript:void(0);" class="btn-r btn" ng-click="events.add()">新增账号</a>-->
        <!--<a href="javascript:void(0);" id="stopAccount" class="btn-b btn ml10" ng-class="{'btn-g': !model.batchSuspend, 'btn-b': model.batchSuspend}" ng-click="events.openSuspends()">停用账号</a>
        <a href="javascript:void(0);" id="enableAccount" class="btn-b btn ml10" ng-class="{'btn-g': !model.batchEnable, 'btn-b': model.batchEnable}" ng-click="events.openEnables()">启用账号</a>
        <a href="javascript:void(0);" class="btn-b btn ml10" ng-class="{'btn-g': !model.batchFire, 'btn-b': model.batchFire}" ng-click="events.openFires()">注销账号</a>-->
    </div>
  <div class="col-body table-box mt20">
    <div kendo-grid="node.gridInstance" k-options="ui.grid.options">
    </div><!--
    <input type="text" class="k-textbox" placeholder="请输入跳转的页码" ng-model="model.toPage"/>
    <button ng-click="events.toPageIndex()" kendo-button="node.buttons.setGridPageIndex">跳转</button>-->
  </div>

</div>
<div kendo-window="node.windows.updateWindow" k-options="ui.windows.updateWindow"></div>

<div id="cccc"></div>
