<!--<style>

  .li-prompt lip-2 {
    width: 180px;
    top: 0;
    left: 330px;
    padding: 7px 5px;
  }
</style>-->

<div class="dialog w-textarea3" style="width:900px;" kendo-window="node.windows.updateWindow"
     ng-click="events.closeTree($event)" k-options="windowOptions">
    <div class="dialog-body">
        <div class="dialog-tit">商铺管理基础信息<a href="#" class="ico ico-close"
                                            ng-click="events.cancelUpdate($event);updateShopForm.$setPristine()"></a>
        </div>
        
        <div style="position: absolute; right:100px; top: 60px; z-index: 10">
            <div>
              <input type="button" class="btn btn-r" style="margin-left: 10px;" ng-click="model.uploadShop1 = true" value="营业执照">
              <input type="button" class="btn btn-r" style="margin-left: 36px;" ng-click="model.uploadShop2 = true" value="身份证正面">
              <input type="button" class="btn btn-r" style="margin-left: 36px;" ng-click="model.uploadShop3 = true" value="身份证背面">
            </div>
            <div class="course-pic1 course-pic-2" ng-mouseleave="imgShowa=false"
               ng-mouseenter="imgShowa=!imgShowa">
              <img
                  ng-src="b{{model.shopInfo.businessLicenceImage ? '/mfs'+ model.shopInfo.businessLicenceImage : (model.uploadShopValue1 ? '/mfs'+ model.uploadShopValue1.jsonBody[0].saveFile : 'images/afei.jpg')}}">

              <div class="pic-hover" ng-class="{'visibility-hide': !imgShowa,'visibility-show':imgShowa}">
                  <span class="pic-mask"></span>
                  <a href="javascript:void(0)" class="upload upload-2">
                      <!--<input type="button" class="btn btn-r" ng-click="events.viewUploadImg()" value="上传图片">-->
                      <input type="button" class="btn btn-r" style="min-width: auto;" value="查看图片">
                  </a>
              </div>
          </div>
          <div class="course-pic2 course-pic-2" ng-mouseleave="imgShowb=false"
               ng-mouseenter="imgShowb=!imgShowb">
              <img
                  ng-src="b{{model.shopInfo.identityFrontImage ? '/mfs'+ model.shopInfo.identityFrontImage : (model.uploadShopValue2 ? '/mfs'+ model.uploadShopValue2.jsonBody[0].saveFile : 'images/afei.jpg')}}">

              <div class="pic-hover" ng-class="{'visibility-hide': !imgShowb,'visibility-show':imgShowb}">
                  <span class="pic-mask"></span>
                  <a href="javascript:void(0)" class="upload upload-2">
                      <!--<input type="button" class="btn btn-r" ng-click="events.viewUploadImg()" value="上传图片">-->
                      <input type="button" class="btn btn-r" style="min-width: auto;" value="查看图片">
                  </a>
              </div>
          </div>
          <div class="course-pic3 course-pic-2" ng-mouseleave="imgShowc=false"
               ng-mouseenter="imgShowc=!imgShowc">
              <img
                  ng-src="b{{model.shopInfo.identityBackImage ? '/mfs'+ model.shopInfo.identityBackImage : (model.uploadShopValue3 ? '/mfs'+ model.uploadShopValue3.jsonBody[0].saveFile : 'images/afei.jpg')}}">

              <div class="pic-hover" ng-class="{'visibility-hide': !imgShowc,'visibility-show':imgShowc}">
                  <span class="pic-mask"></span>
                  <a href="javascript:void(0)" class="upload upload-2">
                      <!--<input type="button" class="btn btn-r" ng-click="events.viewUploadImg()" value="上传图片">-->
                      <input type="button" class="btn btn-r" style="min-width: auto;" value="查看图片">
                  </a>
              </div>
          </div>
        </div>
        <form novalidate name="updateShopForm">
        <div class="dialog-cont">
          <ul class="ul-form uf-1 clear">
            <li><span class="s-txt"><i class="text-red">*</i> 公司名称：</span>
              <input type="text" class="ipt ipt-medium" ng-model="model.shopInfo.name" placeholder="请输入名称" name="name" required ng-required="true"
              />
                <span ng-show="updateShopForm.name.$dirty && updateShopForm.name.$error.required" class="li-prompt lip-2"><span class="ico ico-prompt"></span>请输入名称</span>
            </li>
            <li><span class="s-txt"><i class="text-red">*</i> 公司地址：</span>
              <input type="text" class="ipt ipt-medium" ng-model="model.shopInfo.address" placeholder="请输入地址" name="address" required ng-required="true"/>
                <span ng-show="updateShopForm.address.$dirty && updateShopForm.address.$error.required" class="li-prompt lip-2"><span class="ico ico-prompt"></span>请输入地址</span>
            </li>
            <li><span class="s-txt"><i class="text-red">*</i> 移动电话：</span>
              <input type="text" class="ipt ipt-medium" name="mobile" ng-model="model.shopInfo.mobile" placeholder="请输入移动电话" required ng-required="true"/>
            </li>
            <li><span class="s-txt"><i class="text-red">*</i> 固定电话：</span>
              <input type="tel" class="ipt ipt-medium" name="tel" ng-model="model.shopInfo.tel" placeholder="请输入固定电话" required ng-required="true"/>
            </li>
            <li class="clear"><span class="s-txt fl" style="margin-right: 4px;"><i class="text-red">*</i> 公司简介：</span><textarea name="about" required kendo-editor ng-model="model.shopInfo.about"
                                      k-options="ui.editor"
                                      style="width: 80%;">
                </textarea>
            <span ng-show="updateShopForm.about.$dirty &&
            updateShopForm.about.$error.required"
                  style="width:155px;
                 top:2px;
                 padding: 3px 5px;
                 line-height: 1.5;
                 background-color: #fff;
                 color: #f66985;
                 border-radius: 2px;
                 z-index:999;
                 margin-left:115px;">
                请输入公司简介！
            </span>
            </li>
            <li><span class="s-txt"><i class="text-red">*</i> 当前类目：</span>
              b{{model.shopInfo.categoryName}}
            </li>
            <li>
                  <span class="s-txt" style="margin-right: 4px;"><i class="text-red">*</i> 修改类目：</span><input
                  ng-model="categoryValue" name="unitOrDept" class="ipt ipt-medium"
                  ng-click="events.openTree($event)" placeholder="请选择类目"
                  required hb-readonly
                  ng-required="true"/>
                  <div ng-click="events.openTree($event)" class="column-block w-tree fl" ng-show="libraryTreeShow"
                       style="position: absolute;
                   z-index: 10;
                   left: 85px;
                   width:194px;
                   max-height: 180px;
                   overflow: auto;">
                      <div kendo-tree-view="node.tree"
                           k-options="ui.tree.options"
                           k-on-change="model.selectedItem = dataItem">
                    <span k-template ng-click="events.getOrgInfo($event, dataItem)">
                      <label style="width: 100px;">b{{dataItem.name}}</label>
                    </span>
                      </div>
                  </div>
              </li>
              <li>
              <span class="s-txt"><i class="text-red">*</i> 公司相册：</span>
              <input type="button" class="btn btn-r" style="margin-left: 36px;" ng-click="model.uploadShop = true" value="公司相册">
              </li>
              <li class="clear">
                <div style="float: left; margin-left: 15px; text-align: center;" ng-repeat="image in imageArr">
                  <a href="javascript:void(0)">
                    <img src="b{{image.saveFile ? '/mfs'+image.saveFile : 'images/image_container.png'}}" width="60px" height="60px">
                  </a><br/>
                  <input type="button" class="btn btn-r" style="min-width: auto; line-height: 20px;" value="删除" ng-click="events.delete($event, image);">
                </div>
              </li>
            <li><span class="s-txt"></span><span class="txt-r"> 注：</span>1、带*号为必填项；<br/>
              <li>
                  <span class="s-txt"></span>
              <input type="button" ng-click="events.update($event);updateShopForm.$setPristine()"
                   ng-class="{'btn-g':(!updateShopForm.email.$valid && !updateShopForm.yourname.$valid),
               'btn-r': updateShopForm.$pristine  ||
               (updateShopForm.email.$valid && updateShopForm.yourname.$valid)
               }"
                   class="btn" value="保存">
              <input type="button" ng-click="events.cancelUpdate($event);updateShopForm.$setPristine()"
                     class="btn btn-g ml10" value="取消">
            </li>
          </ul>

      </div>
        </form>
  </div>

</div>
<div ng-if="model.uploadShop">
    <div upload-shop ng-model="model.uploadShopValue" flag='n' button-text="公司相册" close="model.uploadShop" style="display: none;">

    </div>
</div>
<div ng-if="model.uploadShop1">
    <div upload-shop ng-model="model.uploadShopValue1" button-text="营业执照" close="model.uploadShop1" style="display: none;">

    </div>
</div>
<div ng-if="model.uploadShop2">
    <div upload-shop ng-model="model.uploadShopValue2" button-text="身份证正面" close="model.uploadShop2" style="display: none;">

    </div>
</div>
<div ng-if="model.uploadShop3">
    <div upload-shop ng-model="model.uploadShopValue3" button-text="身份证背面" close="model.uploadShop3" style="display: none;">

    </div>
</div>