.btn-b,
.btn-g,
.btn-r,
.btn-gr {
  color: #fff;
}
.btn-b:hover,
.btn-g:hover,
.btn-r:hover,
.btn-gr:hover {
  color: #fff;
}
.btn-b:active,
.btn-g:active,
.btn-r:active,
.btn-gr:active {
  box-shadow: none;
}
.btn-b:active:focus,
.btn-g:active:focus,
.btn-r:active:focus,
.btn-gr:active:focus {
  outline: 0;
}
.btn-b:visited,
.btn-g:visited,
.btn-r:visited,
.btn-gr:visited {
  box-shadow: none;
}
.btn-b:focus,
.btn-g:focus,
.btn-r:focus,
.btn-gr:focus {
  color: #fff;
  outline: 0;
}
.btn-b {
  background-color: #3ca2e2;
}
.btn-b:hover {
  background-color: #54b1ec;
}
.btn-g {
  background-color: #bbb;
}
.btn-g:hover {
  background-color: #ccc;
}
.btn-r {
  background-color: #f66985;
}
.btn-r:hover {
  background-color: #f47d95;
}
.btn-gr {
  background-color: #6fcc40;
}
.btn-gr:hover {
  background-color: #5fbf2f;
}
button {
  border: 0;
  background-color: transparent;
}
button:focus {
  outline: 0;
}
.btn-w-lg {
  width: 230px;
}
.btn-w-md {
  width: 180px;
}
.btn-w-sm {
  width: 100px;
}
