<div class="main-wrap-body-1 clear">
    <div class="column-block w-tree fl" id="treeDiv">
        <div class="col-tit">所有类别</div>
        <div class="col-body">
            <ul class="ul-tree">
                <li>
                    <div kendo-tree-view="node.tree"
                         id="orgTree"
                         k-options="ui.tree.options"
                         k-on-change="model.selectedItem = dataItem"
                        >
                        <div k-template ng-click="events.getCategoryInfo(dataItem)" id="unit_b{{dataItem.id}}">
                            <div class="tree-item">
                                <span class="tree-item-name" style="width:200px;" title="b{{dataItem.name}}">
                                    <span ng-bind="dataItem.name"></span>
                                </span>
                            </div>
                            <div class="op-ico" ng-show="operateAble">
                                <a href="javascript:void(0);"
                                   class="ico-op ico-up-t mr10"
                                   style="margin-top:17px;"
                                   ng-click='events.doUp($event,dataItem)'></a>
                                <a href="javascript:void(0);"
                                   class="ico-op ico-down-t"
                                   style="margin-top:17px;"
                                   ng-click='events.doDown($event,dataItem)'></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-pre right-pre-1" id="infoDiv">
        <div class="column-block w-pre" ng-show="operateAble">
            <div class="col-tit">类别操作</div>
            <div class="col-body">
                <div class="p10">
                    <a href="" class="btn-r btn" ng-click="events.addNode('1')">添加类别</a>
                    <a href="" class="btn-b btn ml20" ng-click="events.editNode()">修改</a>
                    <a href="" class="btn-b btn ml10" ng-click="events.deleteNode()">删除</a>
                </div>
            </div>
        </div>
        <div ng-class="{'column-block w-pre mt30':operateAble,'column-block w-pre':!operateAble}">
            <div class="col-tit">类别信息</div>
            <div class="col-body">
                <ul class="ul-d-form udf-1 ml30">
                    <li><span class="left-txt b">类别名称：</span><span ng-bind="model.orgName"></span></li>
                    <li class="clear"><span class="left-txt b fl">类别描述：</span><span
                        class="right-txt fl"><span ng-bind="model.orgDis"></span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div kendo-window="node.windows.addInfo" k-options="ui.windows.addInfo"></div>
<div kendo-window="node.windows.editInfo" k-options="ui.windows.editInfo"></div>


