<div class="modules about zoomInDown animated">
    <!--<div class="playpage-header">-->
    <!--<div class="main-wrap">-->
    <!--<a href="#" class="logo"><img src="images/logo.png" alt=""/></a>-->
    <!--</div>-->
    <!--</div>-->
    <div class="main-wrap pt10" ng-class="{'o-v':model.type=='three'}">
        <div class="mb10 clearfix">
            <span class="course-tit"> b{{model.course.courseUpdate.name}}</span>

            <div ng-if="model.playType==1">
                <button class="btn btn-r pull-right ml10" type="button" ng-disabled="model.choose"
                        ng-click="events.choose()"><span
                    class="ico ico-add"></span> 选择课程
                </button>
                <button class="btn btn-g pull-right ml10 " ng-disabled="!model.choose" type="button"
                        ng-click=" events.cancel()"><span
                    class="ico ico-cancel"></span> 取消选择
                </button>
                <button class="btn btn-b pull-right ml10 " ng-click="events.goMyChooseCourse()" type="button">我的选修课
                </button>
            </div>
        </div>
        <div class="clearfix">
            <div ng-class="{'pull-left':model.type!='three'}">
                <div class="video-block" ng-class="{'w-1':model.type!='three'}">
                    <iframe class="video" id="play_content" ng-if="model.type=='pdf'||model.type=='scorm'"
                            ng-class="{'pw-1':model.type=='scorm'}">
                        视频区视频区
                    </iframe>
                    <div ng-if="model.type=='single'">
                        <div class="video" id="video_content">
                            视频区视频区
                        </div>
                    </div>
                    <div class="video" ng-if="model.type=='three'">
                        <div class="wrap-three-screen-1 clear">
                            <div class="playpage-left-block-1 fl">
                                <div class="video-block" id="media-container">
                                    视频区
                                </div>
                                <div class="video-info-block mt10">
                                    <div class="info-block-tit">本章小结</div>
                                    <ul class="ul-cont" id="media-catalog">
                                    </ul>
                                </div>
                            </div>
                            <iframe class="playpage-right-block-1 fr prb-1" id="media-document">
                            </iframe>
                        </div>
                    </div>

                    <div class="video-side clearfix" style="z-index: 10000"
                         ng-style="{'right': showCourseOutline?'0px':'-34px'}">
                        <div class="side-tab pull-left">
                            <a href="javascript:void(0)"
                               ng-click="showCourseOutline=!showCourseOutline;showCoursewareCont=false"
                               ng-class="{'current':showCourseOutline}"><span class="ico"></span><span
                                class="side-tab-tit">课程目录</span></a>
                            <a href="javascript:void(0)"
                               ng-click="showCoursewareCont=!showCoursewareCont;showCourseOutline=false"
                               ng-class="{'current':!showCourseOutline}"
                               ng-show="showCourseware"><span class="ico"></span><span
                                class="side-tab-tit">课件内容</span></a>
                        </div>
                        <div class="side-cont pull-right" ng-if="showCourseOutline||showCoursewareCont">
                            <!-------------  课程目录  -------------->
                            <div class="course-directory" ng-if="showCourseOutline">
                                <div class="side-cont-tit">课程章节</div>
                                <ul class="ul-tree h-2">
                                    <li ng-repeat="courseOutline in model.course.courseUpdate.courseOutlineDtos">
                                        <!-----------  未展开时调用 ico-close  ---------->
                                        <div class="item-name"
                                             ng-click="courseOutline.isOpen=!courseOutline.isOpen"
                                             ng-init="courseOutline.selectIndex=$index">
                                        <span
                                            ng-class="{'ico ico-close':!courseOutline.isOpen,'ico ico-open':courseOutline.isOpen}"></span>
                                            b{{courseOutline.name}}
                                        </div>
                                        <ul class="sub-item" ng-if="courseOutline.isOpen">
                                            <li ng-repeat="subCourseOutline in courseOutline.subCourseOutlines">
                                                <a ng-class="{'gray-t':subCourseOutline.schedule==100,'current':subCourseOutline.select}"
                                                   href="javascript:void(0)"
                                                   ng-click="events.selectSubCourseOutline($event,subCourseOutline,$index,courseOutline.selectIndex)">b{{subCourseOutline.name}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <!-------------  课件内容 （有父子关系的） -------------->
                            <div ng-if="showCoursewareCont&&showParent" class="course-cont">
                                <div class="side-cont-tit">b{{model.course.courseUpdate.unitName}}</div>
                                <div class="head-cont mt10">
                                    <ul class="ul-course-cont">
                                        <li>
                                            <span class="col-1">课件内容清单</span>
                                            <span class="col-2">时长</span>
                                            <span class="col-3">操作</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="h-3">
                                    <ul class="ul-course-cont">
                                        <li ng-repeat="coursewareOutline in model.coursewareOutlineDtos">
                                            <div class="course-cont-tit">b{{coursewareOutline.name}}</div>
                                            <ul class="ul-sub-cont">
                                                <li ng-class="{'current':subCoursewareOutline.moduleKey==model.moduleKey}"
                                                    ng-repeat="subCoursewareOutline in coursewareOutline.subCoursewareOutlineDto">
                                                <span class="col-1 text-overflow"
                                                      ng-class="{'gray-t':subCoursewareOutline.schedule==100}"><span
                                                    class="mr10">第b{{$index+1}}讲</span>b{{subCoursewareOutline.name}}</span>
                                                            <span class="col-2"
                                                                  ng-init="subCoursewareOutline.time=events.getTime(subCoursewareOutline.timeLength)">b{{subCoursewareOutline.time.hour+':'+subCoursewareOutline.time.minute+':'+subCoursewareOutline.time.second}}</span>
                                                <span class="col-3"><a href="javascript:void(0)"
                                                                       ng-click="events.enterCourseware(subCoursewareOutline,$index,$event)">进入课程</a></span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-------------  课件内容（没有父子关系的）  -------------->
                            <div ng-if="showCoursewareCont&&!showParent" class="course-cont">
                                <div class="side-cont-tit">b{{model.course.courseUpdate.unitName}}</div>
                                <div class="head-cont mt10">
                                    <ul class="ul-course-cont">
                                        <li>
                                            <span class="col-1">课件内容清单</span>
                                            <span class="col-2">时长</span>
                                            <span class="col-3">操作</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="h-3">
                                    <ul class="ul-course-cont ul-sub-cont">
                                        <li ng-class="{'current':coursewareOutline.id==model.subCoursewareOutlineId}"
                                            ng-repeat="coursewareOutline in model.coursewareOutlineDtos">
                                                    <span class="col-1 text-overflow"><span
                                                        class="mr10">第b{{$index+1}}讲</span>b{{coursewareOutline.name}}</span>
                                            <span class="col-2">-</span>
                                        <span class="col-3"><a href="javascript:void(0)"
                                                               ng-click="events.enterCourseware(coursewareOutline,$index,$event)">进入课程</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="introduce-block mt20">
                    <div class="intr-top">
                        <p class="intr-tit">b{{model.course.courseUpdate.name}}</p>

                        <p class="intr-info">
                            <span class="ico ico-1"></span>b{{model.course.courseUpdate.teacherInfo}}
                            <span class="ico ico-2 ml20"></span>b{{model.course.courseUpdate.createTime}}
                            <span class="ico ico-3 ml20"></span>b{{model.course.courseUpdate.period}}学分
                        </p>
                        <span class="intr-like">
                                 <!-------------  选中时添加current  -------------->
                            <button type="button" ng-disabled="model.course.haveClicked" ng-class="{'current':like}"
                                    ng-click="events.like()"><span class="ico ico-like"></span>(b{{model.course.likeNumber}})
                            </button>
                            <button type="button" ng-disabled="model.course.haveClicked" ng-class="{'current':tread}"
                                    ng-click="events.tread()"><span class="ico ico-unlike"></span>(b{{model.course.treadNumber}})
                            </button>
                        </span>
                    </div>
                    <div class="intr-cont" ng-class="{'ic-1':model.type=='three'}">
                        b{{model.course.courseUpdate.abouts?model.course.courseUpdate.abouts:'暂无简介'}}
                    </div>
                </div>
            </div>
            <div class="mb20" ng-class="{'pull-right':model.type!='three'}">
                <div class=" comments-block" ng-class="{'w-2':model.type!='three'}">
                    <textarea class="form-control" rows="3" ng-model="model.contents"
                              ng-keyup="events.inputContent()"></textarea>

                    <div class="comments-box mt5 clearfix">
                        <span class="txt-g">可以输入140个字！</span>
                        <button class="btn btn-b btn-sm pull-right"
                                ng-disabled="model.contents.length==0||model.contents.length>140"
                                ng-click="events.release()" type="button">发 布
                        </button>
                    </div>

                    <div class="h-1">
                        <div ng-repeat="review in model.reviews" class="comment clearfix">
                            <div class="img-user">
                                <img
                                    ng-src="b{{review.headPortrait?'/mfs/'+review.headPortrait:'images/user-img.jpg'}}">
                                <span class="img-mask"><img src="images/user-img-mask.png"></span>
                            </div>
                            <div class="com-txt">
                                <p class="tit">b{{review.userName}}</p>

                                <p class="cont">b{{review.contents}}</p>
                            </div>
                        </div>
                        <div class="mt5 clearfix">
                            <div class="pages fr">
                                <a href="#" ng-if="model.front" ng-click="events.front($event)">....</a>
                                <a ng-repeat="pageIndex in model.pageIndexs"
                                   ng-class="{'current': pageIndex.index==model.pageNo}"
                                   href="javascript:void(0)"
                                   ng-click="events.selectPageIndex(pageIndex.index,$event)">b{{pageIndex.index}}</a>
                                <a href="#" ng-if="model.behind" ng-click="events.behind($event)">....</a>
                            </div>
                        </div>
                        <div ng-show="model.reviews.length==0" class="no-data clear">
                            <div class="p-img"><img src="images/empty.png"></div>
                            <div class="p-txt">暂时没有数据!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

